.@{class-prefix}-form-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.@{class-prefix}-form-label {
    width: 17rem;
}

.@{class-prefix}-input-margin {
    margin-left: 14rem;
}

