.@{class-prefix}-grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    margin: 20px auto;
}

.@{class-prefix}-grid-item-container {
    width: 100%;
    height: 40rem !important;
    padding: 10px 20px;
    margin: 0 auto;
    overflow: hidden;
    .border-radius(@border-radius-base);
    .box-shadow(@gx-card-shadow);
}

.@{class-prefix}-grid-item-header {
    display: flex;
    height: 4rem;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 15px !important;

    &-title {
        margin: 7px 0;
    }
}

.@{class-prefix}-grid-item-body {
    height: 32rem !important;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}

.@{class-prefix}-grid-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
        font-size: 14px;
        font-weight: 500;
    }
}