* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
}

.content a {
  color: #0063C3;
  text-decoration: none;
}

.content hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content hr:after {
  content: "";
  display: table;
  clear: both;
}

.content .transparent {
  opacity: 0;
}

.content .content-wrapper {
  min-width: 620px;
}

.content header {
  position: absolute;
  z-index: 99;
  top: 60px;
  width: 100%;
  height: 60px;
  padding: 10px;
  background: #222F3F;
}

.content header .is-logo {
  float: left;
  margin-right: 12px;
}

.content header .logo {
  float: left;
  margin-right: 16px;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

.content header .logo:hover {
  text-decoration: none;
}

.content header .input-group {
  float: left;
  width: 350px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.content header .input-group #q {
  border: 0;
  height: 100%;
}

.content header .input-group #q:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #FFBE61;
}

.content header .input-group .form-control {
  border: 0;
  height: 100%;
}

.content header .input-group .form-control:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #FFBE61;
}

.content header .input-group .input-group-btn button {
  height: 100%;
  padding: 0 30px;
  border: 0;
  background: #FFBE61;
}

.content header .input-group .input-group-btn {
  height: 100%;
  border: 0;
  background: #FFBE61;
}

.content aside {
  position: relative;
  overflow-y: auto;
  top: 120px;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 20px;
  border-right: 1px solid #EEE;
  background: #FFFFFF;
  z-index: 99;
}

.content aside .facet-category-title {
  font-size: 1.2em;
  color: #888;
  margin: 0 0 8px;
}

.content aside .facet-wrapper {
  padding-bottom: 12px;
  border-bottom: solid 1px #EEE;
  margin-bottom: 12px;
  font-size: .87em;
  display: flex;
  flex-direction: column;
}

.content aside .facet {
  margin-bottom: 16px;
}

.content .ais-Panel-header {
  margin: 4px 0;
  clear: both;
  padding: initial;
  border-bottom: none;
}

.content .ais-Panel-header h5 {
  font-weight: bold;
  text-transform: none;
}

.content aside .ais-HierarchicalMenu-link, aside a {
  color: #000000;
}

.content aside .ais-HierarchicalMenu-item {
  margin-top: 0px;
  font-size: 12px;
}

.content aside .ais-HierarchicalMenu-item:after {
  content: none;
}

aside a:hover,
.content aside .ais-HierarchicalMenu-link:hover,
.ais-RatingMenu-link:hover {
  color: #B32500;
  text-decoration: none;
}

.content aside .ais-HierarchicalMenu-item--selected > a,
.ais-HierarchicalMenu-item--selected.ais-HierarchicalMenu-item--parent > a {
  font-weight: bold;
}

.content aside .ais-HierarchicalMenu-link input, aside a input {
  margin-right: 4px;
}

.content aside .ais-HierarchicalMenu-label:before {
  content: "> "
}

.content aside .ais-HierarchicalMenu-list--child {
  margin-left: 10px;
}

.content aside .ais-RefinementList-item {
  font-size: 12px;
}

.content aside .ais-RefinementList-label {
  font-weight: 100;
  color: #000000;
}

.content aside .ais-RefinementList-checkbox {
  margin-right: 5px;
}

.content aside .ais-RefinementList-count, .ais-HierarchicalMenu-count {
  color: #6F6E6C;
  background-color: initial;
}

.content aside .facet-name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.content aside .facet-count {
  margin-left: 4px;
  color: #888;
}

.content aside #colors:after {
  content: "";
  display: table;
  clear: both;
}

.content aside .facet-color {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  margin: 0 6px 6px;
  display: block;
  overflow: hidden;
  float: left;
}

.content aside .facet-color.checked {
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5);
}

.content aside .facet-color[data-facet-value="White"] {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 1px #CCC;
}

.content aside .facet-color[data-facet-value="White"].checked {
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.content aside .facet-color[data-facet-value="Black"] {
  background-color: #000000;
}

.content aside .facet-color[data-facet-value="Black-brown"] {
  background-color: #382919;
}

.content aside .facet-color[data-facet-value="Pink"] {
  background-color: #C0116D;
}

.content aside .facet-color[data-facet-value="Gray"] {
  background-color: #6F6E6C;
}

.content aside .facet-color[data-facet-value="Blue"] {
  background-color: #5182A1;
}

.content aside .facet-color[data-facet-value="Green"] {
  background-color: #1E9C5E;
}

.content aside .facet-color[data-facet-value="Brown"] {
  background-color: #7B6A63;
}

.content aside .facet-color[data-facet-value="Red"] {
  background-color: #BC1C1A;
}

.content aside .facet-color[data-facet-value="Dark gray"] {
  background-color: #444348;
}

.content aside .facet-color[data-facet-value="Silver color"] {
  background-color: #AAAAA8;
}

.content aside .facet-color[data-facet-value="Light brown"] {
  background-color: #C19A6E;
}

.content aside .facet-color[data-facet-value="Black-brown stain"] {
  background-color: #4B4640;
}

.content aside .facet-color[data-facet-value="Off-white"] {
  background-color: #D0C8B4;
}

.content aside .facet-color[data-facet-value="Beige"] {
  background-color: #C9B8A3;
}

.content aside .facet-color[data-facet-value="Light green"] {
  background-color: #ABBD9B;
}

.content aside .facet-color[data-facet-value="White stain"] {
  background-color: #E4E1DC;
}

.content aside .facet-color[data-facet-value="Turquoise"] {
  background-color: #46BCC9;
}

.content aside .facet-color[data-facet-value="Birch effect"] {
  background-color: #CBBFA4;
}

.content aside .facet-color[data-facet-value="Yellow"] {
  background-color: #F5E500;
}

.content aside .facet-color[data-facet-value="Dark blue"] {
  background-color: #374063;
}

.content aside .facet-color[data-facet-value="Galvanized"] {
  background-color: #726F6A;
}

.content aside .facet-color[data-facet-value="Birch"] {
  background-color: #726F6A;
}

.content aside .facet-color[data-facet-value="Dark brown"] {
  background-color: #74523E;
}

.content aside .facet-color[data-facet-value="High gloss gray"] {
  background-color: #E5E5E5;
}

.content aside .facet-color[data-facet-value="Gray/white"] {
  background-color: #E5E5E5;
}

.content aside .facet-color[data-facet-value="Red/white"] {
  background-color: #FA757B;
}

.content aside .facet-color[data-facet-value="Clear"] {
  background-color: #D5DAE0;
}

.content aside .facet-color[data-facet-value="Matte black"] {
  background-color: #616872;
}

.content aside .facet-color[data-facet-value="Matte white"] {
  background-color: #DCDBD7;
}

.content aside .facet-color[data-facet-value="White stained oak effect"] {
  background-color: #E7E8E0;
}

.content .results-wrapper {
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  padding: 70px 10px 10px 260px;
}

.content .results-wrapper .no-results {
  text-align: center;
}

.content .results-wrapper .no-results .query {
  font-weight: 700;
}

.content #results-topbar {
  display: block;
  width: 100%;
  line-height: 22px;
}

.content #results-topbar:after {
  content: "";
  display: table;
  clear: both;
}

.content #results-topbar .sort-by {
  float: right;
  display: flex;
  align-items: center;
}

.content #results-topbar .sort-by label {
  margin-right: 5px;
  margin-bottom: 0;
}

.content #results-topbar label {
  font-weight: normal;
  font-size: .8em;
}

.content #results-topbar #sort-by-selector {
  display: inline-block;
}

.content .ais-ClearRefinements-button {
  display: block;
  margin-bottom: 16px;
  font-size: 13px;
  background-color: white;
  border: 1px solid lightgray;
  color: #000000;
}

.content .ais-Stats-text {
  padding-left: 10px;
  font-size: .8em;
}

.content #hits {
  margin: 0 -.5%;
}

.content #hits:after {
  content: "";
  display: table;
  clear: both;
}

.content .hit {
  width: 24%;
  float: left;
  padding: 10px 20px 20px;
  margin-bottom: 10px;
  border-bottom: solid 1px #EEE;
  margin: .5%;
  border: solid 1px #EEE;
  box-shadow: 0 0 3px #f6f6f6;
  position: relative;
}

@media (max-width: 960px) {
  .content .hit {
    width: 49%;
  }
}

.content .hit .product-picture-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.content .hit .product-picture {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.content .hit .product-picture img {
  -webkit-transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  height: 150px;
  max-width: 100%;
}



.content .hit .product-desc-wrapper {
  height: 100px;
  width: 100%;
  overflow: hidden;
  padding: 2px;
}

.content .hit .product-name {
  font-weight: bold;
  color: #000000;
  font-size: .9em;
  margin: 0 0 8px;
  min-width: 120px;
}

.content .hit .product-type {
  font-size: .8em;
  margin: 0 0 10px;
  color: #a2a2a2;
}

.content .hit .product-footer {
  display: flex;
  justify-content: space-between;
}

.content .hit .product-price {
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
  letter-spacing: -1px;
}

.content .hit em {
  color: #000000;
  font-style: normal;
  background-color: #FFBE61;
}

.content .thank-you {
  text-align: center;
  font-size: .8em;
  padding: 10px;
}

.content footer {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: center;
}

.content footer:after {
  content: "";
  display: table;
  clear: both;
}

.content .ais-RangeInput-input--min, .ais-RangeInput-input--max {
  width: 50px;
  border-radius: 2px;
  border: solid 1px #888;
  font-weight: normal;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.content .ais-RangeInput-separator {
  margin: 0px 5px;
}

.content .ais-RangeInput-submit {
  display: block;
  float: right;
  width: 22px;
  height: 22px;
  padding: 0;
  margin-left: 4px;
  font-size: 10px;
  line-height: 20px;
  border: solid 1px #888;
  border-radius: 50%;
  text-align: center;
  background: none;
  color: #000000;
}

.content .ais-RangeInput-submit:hover {
  color: #0063C3;
  background-color: #FFFFFF;
}

.content .ais-RatingMenu-label,
.ais-RatingMenu-item--selected .ais-RatingMenu-label {
  color: #000000;
}

.content .ais-RatingMenu-item--selected .ais-RatingMenu-label {
  font-weight: 700;
}

.content .ais-RatingMenu-count {
  color: #6F6E6C;
  background-color: initial;
}
