/* CSS for Clamped lines in Deals */
.clamp-lines__button {
    background: none;
    border: 0;
    color: #EA3592;
    cursor: pointer;
    padding: 0;
    display: none;
  }
.clamp-lines {
    width: 85%;
    text-align: justify;
    font-size: small;
    margin-bottom: 5px;
}