/**********Investors********/
.ui.basic.investor-btn.button {
    font-weight: bold;
}

.ui.basic.investor-btn.button:hover,
.ui.basic.investor-btn.button:active,
.ui.basic.investor-btn.button:focus {
    font-weight: bold;
}