/* News */

.main-header {
    position: relative;
    top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 10px;
    font-family: 'NoirPro', sans-serif;
    /* Dark 02 */

    color: #415A6C;
}

.det-right-image {
    position: inherit;
    width: 90px !important;
    height: 120px !important;
    left: 930px !important;
    top: 231px !important;
}
.sub-right-details {
    position: inherit;
    width: 286.14px;
    height: 48px;
    left: 1040px;
    top: 224px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    
    
    /* Dark 01 */
    
    color: #3B424D;
}

.sub_mid_right {
    display: grid;
    grid-template-columns: 2fr 4fr;
    margin-bottom: 28px;
}
div.news-card .ui.card, .ui.cards>.card{
    box-shadow: none !important;
    height: 120px !important;
}
.ui.card>.content, .ui.cards>.card>.content {
    padding: 0 !important;
    border-top: none !important;
}

h6.news-header-right {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    /* Dark 01 */
    color: #3B424D;
}


.metatext-news { 
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /* identical to box height, or 200% */

    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.4);
    transform: translateY(-10%);
}

/******Below Cards*********/
.card-img {
    width: 150px !important;
    height: 200px !important;
    object-fit: cover;
}

div.below-news-card .ui.card, .ui.cards>.card{
    width: auto;
    top: 20px;
    box-shadow: none !important;
    height: 140px !important;
}
.news-card .ui.card>.extra{
    border-top: 0 !important;
    font-family: 'NoirPro', sans-serif;
}
.news-card .description .box p{
    color: #415A6C;
}
.ui.top.right.pointing.dropdown>.menu {
    padding: 10px !important;
}
.news-card .ui.card .extra .ui .ui.menu .anno-right {
    margin-bottom: 10px;
    font-size: 14px !important;
    color: #3B424D;
    padding: 5px 10px;
}
.news-card .ui.card .extra .ui .ui.menu .anno-right:hover {
    background: #F5F5F7;
    color: #EA3592;
}
.news-card .ui.card .extra .ui .ui.menu .anno-right:last-child {
    margin-bottom: 0;
}
.news-card .ui.card .extra .ui .ui.menu .anno-right span,  .news-card .ui.card .extra .ui .ui.menu .anno-right .MuiButtonBase-root{
    padding: 0;
    margin-right: 2px;
}
