/*Algolia Styles*/

.@{class-prefix}-companies-header {
  width: 85.0% !important;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.@{class-prefix}-route {
  padding: 1rem !important;
}

.@{class-prefix}-profile-btn {
  width: 10rem !important;
}

.@{class-prefix}-input {
  margin-right: auto; 
  margin-left: 8px;
  outline: 0px !important;
  border: 0px !important;

  &:focus-within,
  &:focus,
  &:focus-visible {
    outline: 0px !important;
    border: 0px !important;
  }
}

.@{class-prefix}-algolia-sidebar {
  .box-shadow(@gx-card-shadow);
  .border-radius(@border-radius-lg);
  margin-bottom: @gx-card-margin-base;
  width: @sidebar-width  !important;

  @media screen and (max-width: @screen-sm-max) {
    width: 100% !important;
  }

  @media screen and (max-width: @screen-xs-max) {
    margin-bottom: @gx-card-margin-base-res;
  }

  & [class^="ais-"] {
    font-size: @font-size-base;
  }

  &-content {
    padding: @gx-card-padding-base;
  }

  & .ais-ClearRefinements {
    margin-bottom: 20px;
  }

  & .ais-HierarchicalMenu {
    margin-bottom: 20px;

    &-list li {
      margin-bottom: 5px;

      & a {
        color: @text-color;

        &:hover,
        &:focus {
          color: @primary-color;
        }
      }
    }

    &-count {
      padding: 0 5px;
      font-size: @font-size-sm;
      color: @grey-7;
      background-color: transparent;
      border-radius: 0;
    }
  }

  & .ais-Panel {
    margin-bottom: 20px;
  }

  & .ais-Panel-header {
    margin-bottom: 8px;
    padding-bottom: 0;
    font-size: @font-size-base;
    font-weight: @font-weight-semi-bold;
    text-transform: uppercase;
    border-bottom: 0 none;
  }

  & .ais-RefinementList {
    &-list li {
      margin-bottom: 5px;
    }

    &-checkbox {
      margin-right: 12px;
    }

    &-labelText {
      font-size: @font-size-base;
    }

    &-count {
      padding: 0 5px;
      font-size: @font-size-base;
      color: @grey-7;
      background-color: transparent;
      border-radius: 0;
    }
  }

  & .ais-HierarchicalMenu-list {

    & .ais-Breadcrumb-item--selected,
    & .ais-HierarchicalMenu-item--selected,
    & .ais-Menu-item--selected {
      font-weight: normal;

      &>a {
        color: @primary-color;
      }
    }
  }

  & .ais-RatingMenu-item--selected {
    font-weight: @font-weight-semi-bold;
  }
}

.@{class-prefix}-algolia {

  &-layout-has-sider {
    flex-wrap: nowrap;

    @media screen and (max-width: @screen-sm-max) {
      flex-wrap: wrap;
    }
  }

  &-category {
    &-title {
      font-size: @font-size-base;
      margin-bottom: 10px;
      color: @grey-7;
    }
  }

  &-main {
    .flex-display(flex, column, nowrap);
    width: 95%;
    .flex-only(1);
    padding-left: @gx-card-padding-base + 6px;
    margin-bottom: @gx-card-margin-base;

    & [class^="ais-"] {
      font-size: @font-size-base;
    }

    @media screen and (max-width: @screen-sm-max) {
      padding-left: 0;
    }

    @media screen and (max-width: @screen-xs-max) {
      margin-bottom: @gx-card-margin-base-res;
    }
  }

  &-header {
    .flex-display(flex, row, wrap);
    margin-bottom: 20px;
  }

  &-sort-by {
    margin-left: auto;
    .flex-display(flex, row, wrap);
    .align-items(center);

    & label {
      margin-right: 15px;
    }

    @media screen and (max-width: (@screen-xs-max - 175px)) {
      margin-left: 0;
    }
  }

  &-footer {
    padding: 10px;

    .ais-Pagination-list {
      flex-wrap: wrap;
    }

    .ais-Pagination-list li {
      margin-bottom: 5px;
    }
  }

  &-content {
    & .ais-Stats {
      margin-bottom: 10px;
    }
  }
}

.@{class-prefix}-product-name [class^="ais-"] {
  font-size: @font-size-lg;
}

.@{class-prefix}-algolia-refinementList {
  width: 95%;

  & li.ais-RefinementList-item {
    .gx-text-truncate;
  }
}

.ais-RangeInput-submit,
.ais-ClearRefinements-button,
.ais-CurrentRefinements-reset,
.ais-GeoSearch-redo,
.ais-GeoSearch-reset,
.ais-HierarchicalMenu-showMore,
.ais-InfiniteHits-loadMore,
.ais-InfiniteResults-loadMore,
.ais-Menu-showMore,
.ais-RefinementList-showMore {
  background-color: @primary-color;

  &:focus,
  &:hover {
    background-color: @primary-color;
  }
}

.ais-Breadcrumb-link,
.ais-HierarchicalMenu-link,
.ais-Menu-link,
.ais-Pagination-link,
.ais-RatingMenu-link {
  color: @primary-color;

  &:focus,
  &:hover {
    color: @primary-color;
  }
}

.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: @primary-color;
  border-color: @primary-color;
}

/*E-commerce Styles*/

.@{class-prefix}-product-item {
  overflow: hidden;
  cursor: pointer;
  background: @component-background;
  .border-radius(@border-radius-lg + 2px);
  margin-bottom: @gx-card-margin-base;

  @media screen and (max-width: @screen-xs-max) {
    margin-bottom: @gx-card-margin-base-res;
  }

  .box-shadow(@gx-card-shadow);
}

.@{class-prefix}-product-body {
  padding: @card-padding-wider;

  &+.@{class-prefix}-product-footer {
    padding-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }
}

.@{class-prefix}-product-image {
  margin-left: 7%;

  &>img {
    width: 100%;
  }
}

.@{class-prefix}-product-footer {
  padding: @card-padding-wider;
  padding-bottom: @card-padding-wider - 9px;
}

.@{class-prefix}-product-horizontal {
  .flex-display(flex, row, wrap);
  .align-items(center);

  & .@{class-prefix}-product-image {
    width: 25%;

    @media screen and (max-width: @screen-lg-max) {
      width: 33.33333%;
    }

    @media screen and (max-width: @screen-md-max) {
      width: 25%;
    }

    @media screen and (max-width: @screen-sm-max) {
      width: 100%;
    }
  }

  & .@{class-prefix}-product-body {
    width: 53%;

    @media screen and (min-width: (@screen-xl-min + 200px)) {
      width: 55%;
    }

    @media screen and (max-width: @screen-lg-max) {
      width: 41.66667%;
    }

    @media screen and (max-width: @screen-md-max) {
      width: 50%;
    }

    @media screen and (max-width: @screen-sm-max) {
      width: 95%;
    }

    &+.@{class-prefix}-product-footer {
      padding-top: @card-padding-wider;

      @media screen and (max-width: @screen-sm-max) {
        padding-top: 0;
      }
    }
  }

  & .@{class-prefix}-product-footer {
    width: 22%;
    text-align: center;

    @media screen and (min-width: (@screen-xl-min + 200px)) {
      width: 20%;
    }

    & .ant-btn:not(:last-child) {
      margin-left: 8px;
      margin-right: 8px;

      @media screen and (max-width: @screen-sm-max) {
        margin-left: 0;
      }
    }

    & .ant-btn:last-child {
      margin-left: 8px;
      margin-right: 8px;
    }

    @media screen and (max-width: @screen-sm-max) {
      width: 100%;
      text-align: left;
    }
  }

  & .@{class-prefix}-product-image .@{class-prefix}-grid-thumb-equal {
    padding-bottom: 82%;

    @media screen and (min-width: (@screen-xl-min + 200px)) {
      padding-bottom: 55%;
    }

    @media screen and (max-width: @screen-lg-max) {
      padding-bottom: 80%;
    }

    @media screen and (max-width: (@screen-lg-max - 119px)) {
      padding-bottom: 90%;
    }

    @media screen and (max-width: (@screen-lg-max - 199px)) {
      padding-bottom: 110%;

      .horizontal-layout & {
        padding-bottom: 80%;
      }
    }

    @media screen and (max-width: @screen-md-max) {
      padding-bottom: 88%;

      .horizontal-layout & {
        padding-bottom: 128%;
      }
    }

    @media screen and (max-width: 849px) {
      padding-bottom: 110%;
    }

    @media screen and (max-width: @screen-sm-max) {
      padding-bottom: 44%;

      .horizontal-layout & {
        padding-bottom: 44%;
      }
    }
  }
}

.@{class-prefix}-product-vertical {
  .flex-display(flex, column, nowrap);
  height: calc(100% ~"-"@gx-card-margin-base);

  @media screen and (max-width: @screen-xs-max) {
    height: calc(100% ~"-"@gx-card-margin-base-res);
  }

  & .@{class-prefix}-product-body {
    .flex-only(1);
  }
}

.@{class-prefix}-product-title {
  font-size: @h3-font-size;
}

.@{class-prefix}-search-bar {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-input {
  padding-bottom: 5px;
  padding-left: 10px;
  background: none !important;
  background-color: transparent !important;
  border: none;
  width: 95vw !important;
  outline: none !important;
  outline-color: transparent !important;

  :focus,
  :focus-within {
    outline-color: transparent !important;
    outline: none !important;
  }
}

.@{class-prefix}-icon-search {
  margin-right: 5px !important;
}