.@{class-prefix}-header-card,
.@{class-prefix}-neuo-button {
    min-width: max-content;
    background-color: white;
    padding: 1rem 2rem;
    margin: 0 12px;
    border-radius: 999px;
    cursor: pointer;
    color: inherit;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2),
        -4px -4px 8px 0 rgba(255, 255, 255, 0.8);
    .align-items(center);
    .justify-content(center);

    &:hover {
        color: @primary-color;
        border-color: @primary-color;
    }

    &:active {
        box-shadow: inset 4px 4px 8px 0 rgba(0, 0, 0, 0.2),
            inset -4px -4px 8px 0 rgba(255, 255, 255, 0.8);
    }
}

.@{class-prefix}-header-card-clicked {
    box-shadow: none;
    color: @primary-color;
    border-color: @primary-color;
}

.@{class-prefix}-header-card-container {
    width: 100%;
    display: flex;
    padding: 1rem 0;
    overflow: scroll;
    color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}