//Profile App Style
.@{class-prefix}-profile-banner {
  padding: @layout-main-content-padding;
  padding-bottom: (3*@layout-main-content-padding - 8);
  margin: -@layout-main-content-padding;
  margin-bottom: -(2*@layout-main-content-padding - 6);
  background-color: @nav-dark-bg;
  color: @white-color;
  position: relative;

  @media screen and (max-width: @screen-xs-max) {
    padding: (@layout-main-content-padding-res + 5px) @layout-main-content-padding-res;
    padding-bottom: (3*@layout-main-content-padding - 13);
    margin: -(@layout-main-content-padding-res + 5px) -@layout-main-content-padding-res;
    margin-bottom: -(2*@layout-main-content-padding - 6);
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: fade(@black-color, 30%);
  }

  &>div {
    position: relative;
    z-index: 2;
  }

  &-top {
    .flex-display(flex, row, wrap);
    .align-items(center);
    margin-bottom: 40px;

    @media (max-width: @screen-xs-max) {
      .flex-display(flex, column, nowrap);
      margin-bottom: 25px;
    }
  }

  &-top-left {
    .flex-display(flex, row, wrap);
    .align-items(center);

    @media (max-width: @screen-xs-max) {
      .flex-display(flex, column, nowrap);
      margin-bottom: 25px;
    }
  }

  &-avatar {
    margin-right: 1.5rem;

    @media (max-width: @screen-xs-max) {
      margin-bottom: 8px;
      margin-right: 0;
    }
  }

  &-top-right {
    text-align: center;
    margin-left: auto;


    @media (max-width: @screen-xs-max) {
      margin-left: 0;
    }
  }

  &-bottom {
    .flex-display(flex, row, wrap);
    .align-items(center);

    @media (max-width: @screen-xs-max) {
      .flex-display(flex, column, nowrap);

      .@{class-prefix}-tab-list {
        margin-bottom: 10px;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: @white-color;
  }

  & .@{class-prefix}-link {
    color: @white-color;

    &:hover,
    &:focus {
      color: @secondary-color;
    }
  }
}

.@{class-prefix}-profile-content {
  position: relative;
  z-index: 2;
}

.@{class-prefix}-profile-setting {
  margin-left: auto;

  @media (max-width: @screen-xs-max) {
    margin-left: 0;
  }
}

.@{class-prefix}-profile-content-right {

  @media (max-width: @screen-xs-max) {
    .flex-display(flex, row, wrap) !important;
    .align-items(center) !important;

    .@{class-prefix}-text-truncate {
      width: auto;
      margin-left: auto;
    }
  }
}

.@{class-prefix}-pro-contact-list {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.@{class-prefix}-featured-item {
  cursor: pointer;
}

.@{class-prefix}-featured-item:not(:last-child) {
  border-bottom: solid 1px #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.@{class-prefix}-card-profile .@{class-prefix}-featured-item:not(:last-child) {
  padding-bottom: 8px;
  margin-bottom: 25px;
}

@media (max-width: 575px) {
  .@{class-prefix}-featured-item:not(:last-child) {
    margin-bottom: 27px;
  }
}

.@{class-prefix}-featured-item:last-child .@{class-prefix}-featured-thumb {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .@{class-prefix}-featured-item:last-child .@{class-prefix}-featured-thumb {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .@{class-prefix}-featured-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: normal;
    -ms-align-items: normal;
    align-items: normal;
  }
}

.@{class-prefix}-featured-thumb {
  position: relative;
  margin-right: 25px;
  margin-bottom: 10px;
}

@media (max-width: 575px) {
  .@{class-prefix}-featured-thumb {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .@{class-prefix}-featured-thumb>img {
    width: 100% !important;
    height: auto !important;
  }
}

.@{class-prefix}-featured-thumb .ant-tag {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 1;
  margin: 0;
}

.@{class-prefix}-card-profile .@{class-prefix}-featured-thumb {
  max-width: 130px;
}

@media (max-width: 575px) {
  .@{class-prefix}-card-profile .@{class-prefix}-featured-thumb {
    max-width: none;
  }
}

.@{class-prefix}-featured-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media (max-width: 1366px) {
  .@{class-prefix}-featured-content {
    font-size: 13px;
  }
}

@media (max-width: 1199px) {
  .@{class-prefix}-featured-content {
    font-size: 14px;
  }

  .@{class-prefix}-card-profile .@{class-prefix}-featured-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (max-width: 767px) {
  .@{class-prefix}-featured-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.@{class-prefix}-featured-content-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: auto;
  text-align: right;
}

.@{class-prefix}-card-profile .@{class-prefix}-featured-content-right {
  font-size: 14px;
}

@media (max-width: 1199px) {
  .@{class-prefix}-card-profile .@{class-prefix}-featured-content-right {
    text-align: left;
    margin-left: 0;
  }

  .@{class-prefix}-card-profile .@{class-prefix}-featured-content-right h2 {
    font-size: 16px;
  }

  .@{class-prefix}-card-profile .@{class-prefix}-featured-content-right h2 .gx-fs-lg {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .@{class-prefix}-featured-content-right {
    margin-left: 0;
    text-align: left;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .@{class-prefix}-card-profile .@{class-prefix}-featured-content-right h2 {
    font-size: 14px;
  }
}