.video-react .video-react-poster {
	background-position: 0% 0% !important; 
	background-size: auto !important;
}

.video-react .video-react-big-play-button {
	top: 610px !important;
	left: 40px !important;
	border: 0px !important;
}

.header {
	font-size: 22px;
	line-height: 32px;
}

.paragraph {
	font-size: 16px;
	line-height: 24px;
	margin-top: 20px;
}

.input {
	width: 270px;
	height: 60px;
	border-radius: 0px !important;
}

.input1 {
	width: 209px;
	height: 60px !important;
	border-radius: 0px !important;
}

.textarea {
	height: 120px !important;
	border-radius: 0px !important;
}

.button {
	width: 207px !important;
	height: 60px !important;
	border-radius: 4px;
	font-size: 20px !important;
	font-weight: 700 !important;
	line-height: 28px !important;
}

.mt-20{
	margin-top: 20px !important;
}

.mt-40{
	margin-top: 40px !important;
}

.mt-30{
	margin-top: 30px !important;
}

.msg {
	font-size: 14px !important;
	line-height: 23px !important;
	font-weight: 400;
	color: #B6BDC9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}