.ant-menu-item-active,
.ant-menu-item-active:hover,
.ant-menu-item-active:active,
.ant-menu-item-active:focus {
    color: #EA3592 !important;
}

.ant-menu-item-selected {
    color: #EA3592 !important;
}

.ant-menu-item:hover, 
.ant-menu-item-active,
.ant-menu-item-selected {
    color: #EA3592 !important;

}

/* .ant-menu-item-group-list  */

.ant-menu-item a:hover {
    color: #EA3592 !important;
    text-decoration: none;
}
.ant-menu-submenu-popup {
    width: 300px
}
.ant-menu-submenu-title:hover {
    color: #EA3592 !important; 
}