@import url('//db.onlinewebfonts.com/c/70116e42ff21c1df4f9d357d25804071?family=Kite+Display');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');*/
@import url('//db.onlinewebfonts.com/c/0c453315c27507762e6b9536cfea76a6?family=Frutiger');
/*@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);*/
/*@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: visible !important;
  background-color: #FFFFFF !important;
  font-family: Frutiger, sans-serif;
}
ul, li {list-style: none}
.page {
  width: 100%;
  min-height: 100vh !important;
}
.ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url],.ui.form textarea{font-family: 'NoirPro', sans-serif;font-weight: 400;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {font-family: 'NoirPro', sans-serif;font-weight: 400;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {font-family: 'NoirPro', sans-serif;font-weight: 400;}
input::placeholder,textarea::placeholder {font-family: 'NoirPro', sans-serif;font-weight: 400 !important;}

p{font-family: 'NoirPro', sans-serif !important; font-weight: 400 !important;}
h1,h2,h3,h4,h5,h6{}
/***********login-otp-forgotpassword-recoverpassword*********/

.login_img {
  background-image: linear-gradient(
      268.88deg,
      rgba(253, 0, 144, 0) 1.33%,
      rgba(253, 0, 144, 0.2) 96.91%
    ),
    url(/src/images/Login.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login_img2 {
  background-image: linear-gradient(
      268.88deg,
      rgba(253, 0, 144, 0) 1.33%,
      rgba(253, 0, 144, 0.2) 96.91%
    ),
    url(../../../images/Recover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login {
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.text-4 {
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}
.otp {
  margin-top: 0.5rem;
  color: grey;
  font-weight: lighter;
}
.text-5 {
  font-size: 1rem;
}
.login-content {
  padding: 1.5rem 1rem 1.5rem 1rem;
  width: max-content;
  height: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.otp-fields {
  display: flex;
  flex-direction: column;
}
.otp_flex {
  display: flex;
  margin-bottom: 0.5rem;
}
.otp-num {
  width: 60px !important;
  margin-right: 10px !important;
  height: 60px !important;
}
.otp-down {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  display: flex;
}
.resend {
  display: flex;
  justify-content: space-between;
  width: 33%;
  color: rgb(102, 94, 94);
  margin-left: 0.3rem;
}
.timer {
  color: rgb(110, 104, 104);
}
#partitioned {
  width: 4rem;
  padding: 5px 5px;
  width: 9%;
  height: 100%;
  margin: 0 auto;
  line-height: 5rem !important;
}
.text-1 {
  margin-bottom: 2.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.text-2 {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.text-3 {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175);
  margin-bottom: 1.5rem;
  line-height: 1.75rem;
  font-size: 1.125rem;
  font-weight: 300;
}

.input-1 {
  display: flex;
  justify-content: flex-end;
  border-width: 2px;
  background-color: rgba(255, 255, 255);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: -2rem auto 0.5rem auto;
  height: 4rem;
}

.input_info {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  vertical-align: top;
  width: 100%;
  align-self: flex-end;
}

.label-1 {
  color: rgb(160, 160, 160);
  font-size: 1rem;
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, 24px) scale(1);
  display: block;
  transform-origin: top-left;
  padding: 0;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.009rem;
}

.form-1 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 16px;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.009em;
}

.input-field1 {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 1px solid rgb(160, 160, 160);
  height: 1.1876em;
  display: block;
  padding: 6px 0 7px !important;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.input-2 {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0 auto 1rem auto;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  border-width: 2px;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  margin-top: -1.5rem;
}

.input_info2 {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  width: 100%;
  align-self: flex-end;
}

.label-2 {
  color: rgb(160, 160, 160);
  font-size: 1rem;
  position: absolute;
  display: block;
  transform-origin: top left;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}

.action {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.login-btn {
  width: 9rem;
  color: #fff;
  height: 3.5rem;
  place-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgba(236, 72, 153, var(--tw-bg-opacity));
}
.login-btn:hover {
  background-color: rgb(223, 39, 223);
}
.para {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-top: 0.7rem;
}
.link {
  text-decoration: none;
  width: 8rem;
  height: 3.5rem;
  justify-content: flex-end;
  display: flex;
  cursor: pointer;
  color: #242424;
  align-items: center;
  margin-left: 2rem;
}
.otp-share {
  font-size: 0.9rem !important;
  color: rgb(160, 160, 160);
}
.link:hover,
.link:focus,
.link:active {
  text-decoration: none;
  color: rgb(255, 27, 255);
}
.tech {
  width: 20rem;
}
.tech-1 {
  color: rgba(156, 163, 175);
  font-size: 0.75rem;
  line-height: 1rem;
}
.tech-2 {
  text-decoration: underline;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
}

.fields {
  display: flex;
  margin-bottom: 0.5rem;
}

.inputs {
  height: 60px !important;
  width: 300px !important;
}

.inputs:focus {
  outline: none;
}

/* media-query */

@media (min-width: 1536px) {
  .login {
    max-width: 1536px;
  }
}

@media (min-width: 1280px) {
  .login {
    max-width: 1280px;
  }
}

@media (min-width: 1024px) {
  .login {
    max-width: 1024px;
  }
  .login-content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 768px) {
  .login {
    max-width: 768px;
  }
  .login-content {
    padding: 2.25rem 2rem 2.25rem 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media (min-width: 640px) {
  .login {
    max-width: 640px;
  }
  .login-content {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

/************navbar********/
.nav-line {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(192, 181, 181);
  margin-top: 0.5rem;
}
.sub_navbar1 {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(65, 90, 108, 0.1);
}
.sub_nav2 {
  width: 100%;
  height: 2.1rem;
}
.sub_nav {
  display: grid !important;
  grid-template-columns: auto auto auto auto auto auto auto auto auto!important;
  width: 100%;
  margin-top: 0.4rem;
  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  /* Dark 02 */

  color: #415A6C;
}
.center_nav {
  display: flex;
  margin-left: 3rem;
}
.avatar2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.submenu {
  display: flex !important;
  align-items: center !important;
  line-height: 0rem !important;
  margin-bottom: 0.5rem !important;
}
.submenu p {
  margin-top: 0rem !important;
  text-decoration: none !important;
  color: #415a6c !important;
}
.submenu:hover,
.submenu:active,
.submenu:focus {
  background-color: #f5f5f7 !important;
  text-decoration: none !important;
}
.top_menu {
  text-decoration: none !important;
}
.top_menu:hover {
  text-decoration: none !important;
}
.sub_menu p:hover,
.sub_menu p:active,
.sub_menu p:focus {
  text-decoration: none !important;
  color: #fd0090 !important;
}
.avatar2:hover,
.avatar2:focus,
.avatar2:active {
  border: 2px solid rgb(201, 2, 201);
}

.nav-drop {
  color: #415a6c !important;
  font-weight: 500 !important;
}
.nav-drop:active,
.nav-drop:focus,
.nav-drop:hover {
  color: #ea3592 !important;
  border-bottom: 3px solid #ea3592 !important;
}

.submenu p:hover,
.submenu p:focus,
.submenu p:active {
  font-weight: 600 !important;
  text-decoration: none !important;
}
.submenu p {
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.diff_submenu {
  font-weight: 500;
  color: #415a6c;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.diff_submenu:hover,
.diff_submenu:focus,
.diff_submenu:active {
  text-decoration: none !important;
  color: #ea3592 !important;
  cursor: pointer;
}
.left {
  margin-left: 7rem;
}
.cato-btn {
  height: 3rem !important;
  color: #415a6c !important;
  border: 1px solid #b6bdc9 !important;
  display: flex !important;
  align-items: center !important;
  padding: 1rem !important;
}
.ui.dropdown > .dropdown.icon:before {
  content: "\f0d7";
  margin-left: -0.7rem !important;
  color: #b6bdc9 !important;
}
.ui.dropdown > .dropdown.icon:before {
  content: "\f0d7";
  /* color: transparent !important; */
}
.ui.dropdown .menu > .item:hover {
  background-color: #f5f5f7 !important;
  color: #ea3592 !important;
}
.cato-btn:hover,
.cato-btn:active,
.cato-btn:focus {
  text-decoration: none !important;
}
.category {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.category_check {
  display: flex;
  padding: 5px 20px;
}
.ui.dropdown .menu {
  left: 0;
  padding: 1rem 1rem !important;
}

.checkbox {
  height: 1.5rem !important;
  width: 3rem !important;
  border-color: rgb(201, 2, 201) !important;
}
.drop {
  z-index: 1000;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
  color: #000 !important;
}

.drop:hover,
drop:focus,
.drop:active {
  background-color: rgb(221, 219, 219) !important;
}
.checkbox_title {
  color: #3b424d !important;
}

.search_box {
  display: flex !important;
  border: 1px solid #b6bdc9 !important;
  height: 3rem !important;
  padding: 2px !important;
  width:400px;
}
.ip {
  width: 35rem !important;
  height: 2.5rem !important;
  border: none !important;
  outline: none !important;
  background-color: #fff !important;
  margin-left: 1rem;
}
.share_mail {
  display: flex !important;
  border: 1px solid rgb(207, 199, 199) !important;
  height: 3rem !important;
  padding: 2px !important;
}
.share_mail:focus {
  border-color: rgb(18, 98, 202) !important;
}
.modal_mail {
  font-size: 2.5rem !important;
  margin-left: 1rem !important;
  color: rgb(192, 181, 181);
}
.email_ip {
  width: 35rem !important;
  height: 2.5rem !important;
  border: none !important;
  outline: none !important;

  background-color: #fff !important;
  margin-left: 1rem;
}
.ip-btn {
  display: flex !important;
  align-items: center !important;
  width: 4rem !important;
  border: none !important;
  background-color: #fd0090 !important;
  color: white !important;
  font-size: 1.5rem !important;
  height: 2.5rem !important;
  justify-content: center !important;
}
input[type="checkbox"] :checked {
  outline-color: #fd0094 !important;
}
input[type="checkbox"] :not(:checked) {
  outline-color: #fd0094 !important;
}
.right_side {
  display: flex;
  margin-left: 12rem;
}
.bell {
  font-size: 1.5rem !important;
  margin-right: -0.7rem;
}
.noti-link {
  color: inherit !important;
}
.noti-link:hover,
.noti-link:active,
.noti-link:focus {
  text-decoration: none !important;
  color: rgb(214, 49, 214) !important;
}
.dropdown-menu.show {
  width: max-content !important;
}
#bell-dropdown::after {
  margin-left: -0.35em !important;
  vertical-align: -0.745em !important;
  color: transparent;
}
#bell-dropdown:hover {
  text-decoration: none !important;
}
.notification {
  display: grid !important;
  grid-template-rows: 0fr 3fr !important;
  max-width: 16rem !important;
  margin-left: 1rem !important;
}
.notification_content {
  margin-top: 1rem !important;
  display: grid !important;
  grid-template-rows: 1fr !important;
  gap: 5px !important;
}
.sub_notification {
  display: grid !important;
  grid-template-columns: 1fr 3fr !important;
}
.notification_img {
  height: 3rem !important;
  width: 3rem !important;
}
.sub_notification_content {
  display: grid !important;
  grid-template-rows: 1fr !important;
}
.notification_date {
  display: flex !important;
  justify-content: space-between !important;
  width: 68% !important;
}
.sub_notification_title {
  font-size: 0.8rem !important;
}
.notification_date p {
  font-size: 0.6rem !important;
}

.user {
  display: flex;
  align-items: center;
  width: 18vw;
}

.avatar {
  margin-left: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover !important;
}
.nav-link {
  color: rgb(102, 94, 94) !important;
}

.checkbox:checked ~ .checkbox {
  color: rgb(214, 49, 214) !important;
}
.span {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  font-size: 15px !important;
  font-weight: 750 !important;
  color: #415a6c !important;
}

.brand {
  margin-left: 10rem;
}

.brand sup {
  width: 10px;
  height: 8px;
  left: -15px;
  top: -20px;
  font-family: Circular Std Book;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  line-height: 8px;
}

#bars {
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1.5rem;
  transition: 0.5s;
  transition-property: color;
}
#bars :hover {
  color: rgb(214, 49, 214);
  cursor: pointer;
}

#check:checked ~ .sidebar {
  left: -240px;
}

#check:checked ~ .sidebar .side_title {
  display: none;
}

#check:checked ~ .sidebar .icon {
  font-size: 1.5rem;
  margin-left: 209px;
  width: 80px;
}
/******************news-new *******************/
.news {
  margin-top: -5rem;
  margin-left: 300px;
  max-width: 1350px;
}
.news_header {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  width: 95%;
}
.news_left_header {
  display: flex;
  justify-content: space-between;
}

.news_line {
  border-bottom: 1px solid #e7e9ed;
  width: 100%;
  height: 100%;
  margin-top:5px;
}
.sub-right-details {
  display: flex;
  flex-direction: column;
}
.sub-right-details h6 {
  font-size: 0.9rem !important;
  color: #3b424d !important;
}
.sub-right-details-1 {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: -0.5rem;
}
.anno-right {
  font-size: 0.6rem !important;
}

/*************sidebar***********/

.sidebar {
  background: #fff;
  color: black !important;
  margin-top: -40px;
  padding-top: 30px;
  position: fixed;
  z-index: 100;
  left: 0;
  width: 300px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) !important;
}

.side-link {
  color: black;
  display: block;
  width: 100%;
  line-height: 50px;
  padding-left: 20px;
  text-decoration: none;
  transition: 0.5s;
  transition-property: color;
}

.side-link:hover,
.side-link:active,
.side-link:focus {
  border-left: 1px solid rgb(255, 27, 255);
  border-width: 6px;
}

.side-link:hover,
.side-link:active,
.side-link:focus,
.icon:hover,
.icon:active,
.icon:focus,
.icon2:hover,
.icon2:active,
.icon2:focus,
.icon3:hover,
.icon3:active,
.icon3:focus,
.icon4:focus,
.icon4:active,
.icon4:hover,
.icon5:hover,
.icon5:active,
.icon5:focus,
.icon6:hover,
.icon6:active,
.icon6:focus {
  color: #FD0090;
  text-decoration: none;
}

.nav-link-2:hover,
.nav-link-2:focus,
.nav-link-2:active {
  color: #FD0090;
  text-decoration: none;
  /* border-bottom: 2px solid rgb(255, 27, 255); */
}

.icon {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.icon2 {
  margin-left: 11rem;
  color: rgb(192, 181, 181);
}
.icon3 {
  margin-left: 9.3rem;
  color: rgb(192, 181, 181);
}
.icon4 {
  margin-left: 8.1rem;
  color: rgb(192, 181, 181);
}
.icon5 {
  margin-left: 3.6rem;
  color: rgb(192, 181, 181);
}
.icon6 {
  margin-left: 1.7rem;
  color: rgb(192, 181, 181);
}

.side-link span {
  margin-left: 1rem;
  font-size: 1.1rem;
}

.diff {
  margin-left: -19px !important;
  line-height: 28px;
  margin-bottom: 25px;
  background-color: rgb(241, 237, 237);
  list-style-type: none;
  margin-left: -14px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}
.diff2 {
  margin-left: 2.6rem;
}
.diff2 li {
  margin-left: 2.3rem;
}
.nav-link-2 {
  color: rgb(110, 104, 104);
  text-decoration: none;
  transition: 0.5s;
  transition-property: color;
}

/********************news*******************/
.content {
  /* height: 100vh; */
  /* transition: 0.5s;
  max-width: 1150px;
  margin-top: 8.5rem;
  margin-left: 9rem;
  display: flex; */
}
.content_left {
  display: flex;
  margin-left: 3rem;
  /* margin-top: 10rem; */
  flex-direction: column;
}
.content_title {
  margin-right: 10rem;
}
.content_left h4 {
  position: fixed;
  margin-left: -11rem;
}
.content_right {
  display: flex;
  flex-direction: column;
  margin-left: 13rem;
  /* margin-right: auto; */
  height: max-content;
}
.content_right_btn {
  display: flex;
  justify-content: flex-end;
  width: 99%;
}
.content_right button {
  border: 1px solid rgb(192, 181, 181);
  width: 7rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;

  /* margin-left: 80.5rem; */
}
.content_title button:hover,
.content_title button:active,
.content_title button:focus {
  background-color: rgb(214, 49, 214);
  color: #fff !important;
}

#check:checked ~ .content {
  margin-left: 9rem !important;
}

#check {
  display: none;
}

.latest_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.latest_title h5 {
  color: rgb(97, 92, 92);
}
.all_news {
  margin-bottom: 5px;
  color: rgb(218, 0, 218);
}

.all_news:hover {
  text-decoration: none;
  color: rgb(201, 2, 201);
}

.sort-btn {
  background-color: #fff;
  width: 7rem !important;
  font-size: 0.9rem !important;
  font-size: 1rem !important;
}

.sort-btn select {
  border-color: rgb(160, 160, 160);
}

.sort-btn select:active,
.sort-btn select:focus {
  border-color: rgb(160, 160, 160) !important;
}

.bars {
  display: flex;
}

.news_mid_right {
  display: grid;
  grid-template-rows: auto(3, 1fr);
  height: 23.5rem;
}
.sub_mid_right {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1rem;
}
.news_center {
  display: grid;
  grid-template-rows: 1fr;
}
.car {
  margin-bottom: 6rem;
}

.sub-right-details {
  display: flex;
  flex-direction: column;
}
.sub-right-details h6 {
  font-size: 0.9rem !important;
  color: #3b424d !important;
}
.sub-right-content {
  font-size: 0.8rem !important;
  color: #415a6c;
}
.sub-right-details-1 {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: -0.5rem;
}
.anno-right {
  font-size: 0.6rem !important;
}

/*****************sub_right**************/
.sub_right {
  margin-top: 0.6rem;
  width: 60rem;
  height: max-content;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2) !important;
  overflow: hidden;
}
/*****************carousel******************/


.overlay::before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background: #BA5370;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4e0e26);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, transparent, #4e0e26 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  opacity: 0.8 !important;
}

.car img {
  height: 50vh;
  object-fit: cover;
}
.caption {
  text-align: center;
}
/**********************details********************/
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  height: max-content;
  padding: 30px 30px;
  gap: 30px;
}
.det-1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}
.detail-1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}
.det-image {
  width: 7rem;
  height: 9rem;
  object-fit: cover;
}
.sub-details {
  display: flex;
  flex-direction: column;
}
.sub-details-1 {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.anno {
  margin-right: 1.5rem;
  color: rgb(102, 94, 94);
  font-size: 0.7rem !important;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.book:hover,
.book:active,
.book:focus,
.share:focus,
.share:active,
.share:hover {
  cursor: pointer;
}

/*************cards**************/

.cards {
  margin-top: -4rem;
  display: grid;
  grid-template-rows: 1fr;
  gap: 1.5rem;
  height: 100%;
  margin-bottom: 5rem;
}

.sub-cards {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-template-columns: 1fr 4fr; */
}
.card-img {
  height: 10rem;
  width: 10rem !important;
  object-fit: cover;
}

.sub-card-det {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.card-details-1 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  width: 80%;
}
.card-info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.card-con {
  font-size: 0.8rem !important;
  color: rgb(102, 94, 94);
}
.card_title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-family: 'NoirPro', sans-serif;
  /* identical to box height, or 133% */
  
  
  /* Dark 01 */
  
  color: #3B424D;
}
/*******************share-modal***************/

.share_title {
  margin-left: 0.5rem;
}
.share_icon {
  display: flex;
  justify-content: space-between;
  width: 115%;
  margin-top: 1rem;
}
.social_mail {
  border: 1px solid transparent;
  font-size: 2rem;
  color: #fff;
}
.social_linked {
  border: 1px solid transparent;
  font-size: 2rem;
  color: #fff;
}
.social_twitter {
  border: 1px solid transparent;
  font-size: 2rem;
  color: #fff;
}
.social_itwitter :hover,
.social_itwitter:active,
.social_itwitter:focus {
  background-color: #00b6f1;
  cursor: pointer;
}
.social_imail :hover,
.social_imail :active,
.social_imail :focus {
  cursor: pointer;
}
.social_ilinked:hover,
.social_ilinked:active,
.social_ilinked:focus {
  background-color: #04669a;
  cursor: pointer;
}
.social_imail {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 3rem;
  padding: 3px;
  background-color: #464eb8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.social_ilinked {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 3rem;
  padding: 3px;
  background-color: #0e76a8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.social_itwitter {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 3rem;
  padding: 3px;
  background-color: #00acee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.share_modal_body {
  margin-right: 0.5rem;
}
.share_modal_body h5 {
  margin-left: 0.5rem;
}

.person_detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 1rem 0rem 1rem 0.5rem;
  flex-wrap: wrap;
}

.single {
  display: flex !important;
  border: 1px solid grey !important;
  background-color: rgb(230, 230, 230);
  border-radius: 100px;
}

.single_img {
  height: 40px;
  width: 40px;
  border: 0.5px solid grey;
  border-radius: 50%;
}

.email {
  border: 1px solid transparent;
  background-color: rgb(230, 230, 230);
  color: black;
  font-weight: 400;
  margin-left: 0.5rem;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email p {
  margin-bottom: -0.1rem;
  font-size: 1rem;
  cursor: pointer;
}

.email p:focus,
.email p:hover,
.email p:active {
  color: red;
}

.share_modal_footer {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 0.5rem;
}

.email_ip:focus,
.email_ip:active,
.text_ip:focus,
.text_ip:active {
  box-shadow: none !important;
}

/**************** BookMarked-feed ******************/

.bookmarked {
  max-width: 1200px;
  height: 100vh;
  margin: 9rem auto;
}
.bookmarked_top {
  display: flex;
  justify-content: space-between;
}
.bookmarked_top h4 {
  color: rgb(59, 58, 58);
}
.line {
  margin-top: 4.6rem;
  width: 94%;
  border-bottom: 1px solid rgb(192, 181, 181);
  position: fixed;
}
.bookmarked_option {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(9, auto);
  width: 112%;
  gap: 5px;
}

.option_btn {
  background-color: #fff !important;
  color: rgb(59, 58, 58) !important;
  border: 1px solid rgb(201, 2, 201) !important;
  border-radius: 100px !important;
  transition: all 0.5s !important;
}
.active-btn {
  color: #fff;
}
.btn-all {
  width: 5rem;
}
/* .btn-news {
  width: 12rem;
} */
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  text-decoration: none !important;
}

.option_btn:hover,
.option_btn:active,
.option_btn:focus {
  color: #fff !important;
  background-color: rgb(214, 49, 214) !important;
}

.bookmarked_content {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.content-1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #fff;
  width: 37rem;
  height: max-content;
  overflow: hidden;
  padding: 25px 25px;
  gap: 12px;
}
.content_img {
  height: 120px;
  width: 270px;
  object-fit: cover;
}
.subcontent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.subcontent_link {
  font-size: 1.1rem !important;
  text-decoration: none;
  color: rgb(102, 94, 94);
  font-weight: 600;
}
.subcontent_link:hover,
.subcontent_link:active,
.subcontent_link:focus {
  color: rgb(201, 2, 201);
  border-bottom: rgb(201, 2, 201) !important;
}
.subcontent-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 0.5rem;
}
.subcontent-1 p {
  font-size: 0.8rem;
  color: rgb(85, 78, 78);
}
.bookmarked_icon {
  margin-top: -0.3rem;
}

.btn-link {
  color: #000 !important;
}
.box p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  white-space: break-spaces;
  /* or 129% */


  /* Dark 02 */

  color: rgba(0,0,0,0.5);
  transform: translateY(0);
}


/************************ Products******************* */

.products {
  max-width: 1200px;
  height: 100vh;
  margin-top: 2rem;
  margin-left: 5rem;
}
.products h3 {
  color: rgb(59, 58, 58);
}
.sub-sidebar {
  position: fixed;
}
.acordian {
  padding: 0;
  width: 20rem;
  height: 40rem;
  border: 1px solid #E7E9ED;
  background-color: #fff;
  box-shadow: none;
  position: fixed;
  z-index: 1;
}
.acordian_header {
  display: flex;
  justify-content: center;
}
.acordian_search {
  display: flex;
  border: 1px solid #B6BDC9;
  height: 3rem;
  padding: 2px;
  background: #FBFCFF;
}
.acordian_body {
  height: 0rem;
  line-height: 0rem;
}
.acordian_ip {
  height: 1.3rem;
  margin-top: 0.6rem;
  border: none;
  outline: none;
  background: #FBFCFF;
}
.acordian_search_icon {
  display: flex;
  align-items: center;
  margin-top: 0.73rem;
  font-size: 1.2rem;
  color: rgb(192, 181, 181);
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}

.acordian_line {
  margin-top: -29rem;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(207, 199, 199);
}
.acordian_content {
  margin-top: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  height: 60vh;
}
.wrap {
  background-color: #fff;
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #E7E9ED;
  margin-left: 0;
  line-height: 1rem;
  padding: 1rem 1.45rem;
  color: #415A6C;
}
.acordian_content .wrap:last-child{
  border-bottom: 1px solid #E7E9ED;
}
.wrap .acordian_icon {
  color: #B6BDC9;
}

.acordian_icon:hover,
.acordian_icon:active,
.acordian_icon:focus {
  cursor: pointer;
}
.checking {
  margin-left: -1rem;
}
.acordian_drop {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 2.5rem;
  padding: 0 2.45rem;
}

.side_name {
  margin-left: 1rem;
  font-size: 1rem;
}
.side_check {
  width: 1.5rem !important;
  height: 2.5rem !important;
}

.wrap h6 {
  margin-top: 0.4rem;
  font-size: 14px;
}

/* *********************Magazines******************* */
.magazines {
  margin-top: 0.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.magazines-drawer-open {
  margin-top: 0.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.sub_magazines {
  display: grid;
  grid-template-rows: 1fr;
  gap: 3rem;
}
.sub_magazines2 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0;
}
.magazines_img {
  width: 90px;
  height: 120px;
}
.newThumb-right .magazines_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.magazines_info {
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
}
.info1,
.info {
  display: flex;
  flex-direction: column;
}
.date {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.4);
}
.more {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  
  
  /* Dark 02 */
  
  color: #415A6C;
}
.download {
  color: #EA3592 !important;
  border-bottom: 1px solid #EA3592;
}
.download:hover,
.download:active,
.download:focus {
  color: rgb(255, 27, 255) !important;
  text-decoration: none !important;
}
.particular-magazine {
  color: #000 !important;
  text-decoration: none;
}
.particular-magazine:focus,
.particular-magazine:active,
.particular-magazine:hover {
  text-decoration: none !important;
  color: rgb(201, 2, 201) !important;
}

/****************** magazine-1**********************/
.magazine-1 {
  margin-top: 8.5rem;
  margin-left: 6rem;
}

.magazine-1 h6 {
  font-size: 0.9rem !important;
  color: rgb(110, 104, 104) !important;
}
.magazine-page-img {
  height: 25rem;
  width: 23rem;
}
.maga {
  margin-top: 2rem;
}

.maga-btn {
  width: 100%;
  margin-top: 1.5rem;
}

.maga-right {
  margin-top: 3rem;
  height: 29rem;
}
.maga-info h4 {
  color: rgb(59, 58, 58);
  font-weight: 500 !important;
}

.maga-features {
  margin-top: 2rem;
  color: rgb(59, 58, 58);
}

.maga-line-info {
  margin-top: -28rem;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(192, 181, 181);
}
.maga-line-features {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(192, 181, 181);
}

.maga-ul {
  margin-top: 2rem;
  margin-left: 1rem;
}
.maga-li {
  color: rgb(102, 94, 94);
}
.maga-li-1 {
  color: rgb(110, 104, 104);
}

/*******************events-conferences**************/

.event-info {
  font-size: 0.95rem !important;
}
.event-bottom h6 {
  color: rgb(59, 58, 58);
  font-size: 0.9rem !important;
}
.sub-event {
  color: rgb(102, 94, 94);
  font-size: 0.8rem !important;
}
.event-link {
  color: rgb(201, 2, 201);
}
.event-link:hover,
.event-link:focus,
.event-link:active {
  color: rgb(214, 49, 214);
  text-decoration: none;
}

/***************particular-bookmark**************/

.main-particular-bookmark {
  display: grid;
  grid-template-columns: 1fr;
  margin: 9rem auto 0rem auto;
  height: 100vh;
  max-width: 850px;
}
.particular-bookmark-mid {
  display: flex;
  justify-content: space-between;
}
.particular-bookmark {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}
.backtobook {
  color: #415a6c !important;
  font-weight: 400 !important;
  margin-left: 3rem;
}
.backtobook:hover,
.backtobook:focus,
.backtobook:active {
  text-decoration: none;
}
.back {
  color: #ea3592;
}
.particular-title {
  margin-top: 2rem;
  color: #415a6c;
  font-weight: 700;
  margin-left: 3rem;
}
.social_iemail:hover,
.social_iemail:active,
.social_iemail:focus,
.social_ibookmark:hover,
.social_ibookmark:focus,
.social_ibookmark:active {
  cursor: pointer;
}
.particular-bookmark-date {
  display: grid;
  grid-template-columns: 8fr 1fr;
  margin-top: 2rem;
  margin-left: 3rem;
}
.bookmark-share {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: space-between;
}
.particular-bookmark-time {
  color: #b6bdc9;
  font-weight: 400;
}
.particular-bookmark-dates p {
  font-size: 16px;
  color: #b6bdc9;
  font-weight: 400;
}
.particular-bookmark-img {
  height: 350px;
  width: 800px;
  margin-top: 1rem;
  object-fit: cover;
}
.particular-bookmark-content-mid {
  display: flex;
}

.particular-bookmark-content {
  margin-top: 1rem;
  margin-left: 3rem;
}
.particular-bookmark-content p {
  color: #415a6c;
  font-weight: 400;
  font-size: 18px;
}
.social_iemail {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 3rem;
  padding: 3px;
  background-color: #dd9e11;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.social_ibookmark {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 3rem;
  padding: 3px;
  background-color: #415a6c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.social_email {
  border: 1px solid transparent;
  font-size: 2rem;
  color: #fff;
}
.social_bookmark {
  border: 1px solid transparent;
  font-size: 2rem;
  color: #fff;
}

/** CSS By Mayank Chauhan START **/
#root {overflow: auto}
.char-cut-line-1{ overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.char-cut-line-2{ overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.title-font {font-family: "Kite Display", sans-serif !important;}
.site-logo{max-width: 161px}
.header-search-input {padding: 6px 15px;border-radius: 0 4px 4px 0 !important;border-left: 0;height: 46px;min-width: 430px;}
.top-nav-section .header-category-dropdown {line-height: 46px; height: 46px; width: 120px}
.top-nav-section .btn-header-search { background-color: #fd0090;color: #ffffff;height: 40px;position: absolute;right: 3px;top: 3px; border-radius: 4px !important;}
.top-nav-section .btn-header-search .search-icon {height: 18px; width: 25px;}
.top-nav-section .btn {margin: 0}
.top-nav-section .search-category-dropdown-menu {max-width: 100%}
.card-horizontal {display: flex;flex: 1 1 auto; align-items: center}
.img-square-wrapper {display: flex; align-items: center; margin-right: 10px; width: 80px}
.img-square-wrapper img{height: 70px;width: 70px;object-fit: cover;object-position: center;}
.notification-dropdown, .user-profile-dropdown { border: none;box-shadow: 0 0 16px #efefef;border-radius: 0; max-width: 350px}
.notification-dropdown .notification-dropdown-header {color: #415A6C; font-weight: 500; padding: 5px 15px 10px;}
.card-text {opacity: 0.4}
.notification-dropdown-list {padding: 0}
.notification-dropdown-list a {color: #415A6C}
.notification-dropdown-list-item {padding: 15px; border-top: 1px solid #ffffff}
.notification-dropdown-list-item.notification-unread {background-color: #FFF4FA}
.notification-dropdown-list-item .card-title {margin: 0;}
.notification-dropdown-list-item .card-text {text-transform: uppercase; font-size: 12px;}
.notification-dropdown-list-item .notification-content { width: calc(100% - 80px)}
.notification-dropdown-toggle {border-radius: 50%; height: 36px; width: 36px; text-align: center; border: 1px solid #dedede; position: relative}
.notification-dropdown-toggle.active-notification:after {content: ""; height: 10px; width: 10px; display: block; border-radius: 50%; background-color: #ff0000; top: 0; right: 0; position: absolute}
.user-profile-dropdown-toggle {display: flex; flex: 1 1 auto; padding: 0; align-items: center}
.user-profile-dropdown-toggle .user-image {height: 36px; width: 36px; overflow: hidden; border-radius: 50%; margin: 0 5px 0 0}
.user-profile-dropdown-toggle .user-image img {height: 36px;width: 36px;object-fit: cover;}
.user-profile-dropdown-list {padding: 0;}
.user-profile-dropdown {padding: 10px}
.user-profile-dropdown-list li a {line-height: 35px; color: #415A6C; display: block; padding: 0 10px}
.user-profile-dropdown-list li a:hover, .user-profile-dropdown-list li a.active {color: #fd0090; background-color: #efefef}
.header-top-section {border-bottom: 1px solid #efefef; padding: 10px 0}
.header-nav-section { border-bottom: 1px solid #fafafa; box-shadow: 0 5px 7px #fafafa; position: sticky; top: 0; background-color: #ffffff; z-index: 10}
.main-menu-bar {width: 100%; justify-content: space-between}
.main-menu-bar li:first-child > a{padding-left: 0 !important;}
.main-menu-bar li > a {line-height: 30px;}
.main-menu-bar li.nav-item.dropdown.show > a {color: #fd0090 !important; position: relative}
.main-menu-bar li.nav-item.dropdown.show > a:before{content: ""; width: 100%; bottom: 0; left: 0; border-top: 2px solid #fd0090; position: absolute}
.full-bg-overlay {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 1}
.dropdown-menu {margin: 0; border-radius: 0}
.dropdown-menu .dropdown-item {color: #415A6C}
.main-menu-bar .dropdown .dropdown-menu .dropdown-item {padding: 10px; display: flex; align-items: center; border-radius: 4px; min-width: 270px}
.main-menu-bar .dropdown .dropdown-menu .dropdown-item:hover .sub-menu-icon {border: 1px solid #fd0090}
.main-menu-bar .dropdown .dropdown-menu .dropdown-item:hover {color: #fd0090}
.main-menu-bar .dropdown .dropdown-menu .sub-menu-icon {height: 30px; width: 30px; border-radius: 50%; overflow: hidden; margin-right: 15px}
.main-menu-bar .dropdown .dropdown-menu {padding: 10px}
.main-menu-bar .dropdown .dropdown-menu .sub-menu-icon img {height: 30px; width: 30px; object-fit: cover}
/** CSS By Mayank Chauhan END **/

/************media-query*************/

@media (max-width: 1476px) {
  .left {
    margin-left: 8rem;
  }
  .ip {
    width: 27rem !important;
  }
  .right_side {
    margin-left: 8rem;
  }
  .brand {
    font-size: 1.9rem;
  }
  .caption {
    margin-left: -4.7rem !important;
  }
  .caption h3 {
    font-size: 1.3rem !important;
  }
}
@media (max-width: 1413px) {
  .right_side {
    margin-left: 5rem;
  }
}
@media (max-width: 1386px) {
  .caption h3 {
    font-size: 1.3rem !important;
  }
  .details {
    grid-template-columns: 1fr;
  }
  .det1,
  .det2 {
    width: 100%;
  }
  @media (max-width: 1380px) {
    .bookmarked {
      margin-left: 7rem;
    }
    .bookmarked_option {
      grid-template-columns: repeat(5, 1fr);
    }
    /* .btn-all,
    .btn-news,
    .btn-companies,
    .btn-products,
    .btn-technology,
    .btn-deals,
    .btn-research,
    .btn-regulatory,
    .btn-market {
      width: 11rem;
    } */
    .subcontent_link {
      font-size: 0.9rem !important;
    }
  }
}
@media (max-width: 1356px) {
  .ip {
    width: 25rem !important;
  }
  .caption {
    margin-left: -4.5rem !important;
  }
}
@media (max-width: 1320px) {
  .ip {
    width: 25rem !important;
  }
  .right_side {
    margin-left: 21rem;
  }
  .content-1 {
    width: 34rem;
  }
  .content_img {
    width: 220px;
  }
}

@media (max-width: 1240px) {
  .ip {
    width: 20rem !important;
  }
  .caption p {
    font-size: 0.8rem !important;
  }
  .content-1 {
    width: 33rem;
  }
}
@media (max-width: 1199px) {
  .cato-btn {
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search_box {
    width: 18rem;
    margin-top: 0.5rem;
  }
  .right_side {
    margin-top: 0.5rem;
    margin-right: 42.2rem;
  }
  .left {
    margin-left: 5rem;
  }
  .search_box {
    height: 2.2rem !important;
  }
  .ip {
    height: 1rem !important;
    margin-top: 0.4rem;
  }
  .cato-btn {
    height: 2.2rem;
    margin-top: 1rem;
  }
  .ip-btn {
    height: 1.8rem !important;
    width: 2.9rem !important;
  }
  .search {
    font-size: 1.2rem;
  }
  .right {
    margin-left: -3rem;
  }
  .caption h3 {
    font-size: 1rem !important;
  }
  .bookmarked_content {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .content_img {
    width: 350px;
    height: 170px;
  }
  .subcontent {
    justify-content: center;
  }
  .subcontent-1 {
    margin-top: 1rem;
  }
  .content-1 {
    width: 63rem;
  }
}

@media (max-width: 1130px) {
  .bookmarked {
    margin-left: 5rem;
  }
}

@media (max-width: 1100px) {
  .caption {
    margin-bottom: -1.5rem !important;
    margin-left: -3rem !important;
  }
  .bookmarked_option {
    grid-template-columns: repeat(3, 1fr);
  }
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 18rem;
  } */
  .content-1 {
    width: 60rem;
  }
}
@media (max-width: 1044px) {
  .content-1 {
    width: 57rem;
  }
}
@media (max-width: 996px) {
  .content-1 {
    width: 55rem;
  }
}
@media (max-width: 978px) {
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 16rem;
  } */
  .content-1 {
    width: 54rem;
  }
}
@media (max-width: 951px) {
  .content-1 {
    width: 52rem;
  }
}
@media (max-width: 918px) {
  .content-1 {
    width: 50rem;
  }
}
@media (max-width: 905px) {
  .span {
    font-size: 0.9rem;
  }
  .caption h6 {
    margin-bottom: -0.6rem !important;
  }
}
@media (max-width: 988px) {
  .content-1 {
    width: 48rem;
  }
}
@media (max-width: 872px) {
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 14rem;
  } */
}
@media (max-width: 858px) {
  .content-1 {
    width: 46rem;
  }
}
@media (max-width: 820px) {
  .caption p {
    font-size: 0.6rem !important;
  }
  .content-1 {
    width: 44rem;
  }
  .content_img {
    width: 20rem;
  }
}
@media (max-width: 789px) {
  .content-1 {
    width: 41rem;
  }
  .content_img {
    width: 18rem;
  }
}
@media (max-width: 768px) {
  .span {
    font-size: 0.6rem;
  }
  .avatar {
    font-size: 0.7rem;
  }
  .content h3 {
    font-size: 1.5rem;
  }
  .caption {
    margin-left: 0.4rem !important;
  }
  .caption h3 {
    font-size: 0.7rem !important;
  }
  .bookmarked h3 {
    font-size: 1.5rem;
  }
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 12rem;
  } */
}
@media (max-width: 742px) {
  .content-1 {
    width: 38rem;
  }
}
@media (max-width: 702px) {
  .content-1 {
    width: 35rem;
  }
  .content_img {
    width: 16rem;
  }
}
@media (max-width: 676px) {
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 10rem;
  } */
}
@media (max-width: 660px) {
  .caption {
    margin-bottom: -1rem !important;
  }

  .content-1 {
    width: 33rem;
  }
  .content_img {
    width: 14rem;
  }
}
@media (max-width: 620px) {
  .latest_title h5 {
    font-size: 0.8rem;
  }
  .all_news {
    font-size: 0.8rem;
  }
  .bookmarked_option {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 15rem;
  } */
}
@media (max-width: 615px) {
  .content-1 {
    width: 30rem;
  }
  .content_img {
    height: 10rem;
  }
  .subcontent p {
    font-size: 0.7rem;
  }
  .book,
  .share {
    font-size: 0.9rem;
  }
}
@media (max-width: 575px) {
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 12rem;
  } */

  .content-1 {
    width: 28rem;
  }
  .subcontent_link {
    font-size: 0.7rem !important;
  }
  .subcontent-1 p {
    font-size: 0.6rem;
  }
  .book,
  .share {
    font-size: 0.6rem;
  }
}
@media (max-width: 531px) {
  .content-1 {
    width: 25rem;
  }
  .content_img {
    width: 10rem !important;
    height: 8rem !important;
  }
}
@media (max-width: 492px) {
  .content-1 {
    width: 22rem;
  }
  .content_img {
    width: 9rem !important;
    height: 6rem !important;
  }
}
@media (max-width: 480px) {
  .bookmarked_option {
    grid-template-columns: repeat(1, 1fr);
  }
  .bookmarked h3 {
    font-size: 1.2rem;
  }
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 21rem;
  } */
}
@media (max-width: 440px) {
  .content-1 {
    width: 20rem;
  }
  .content_img {
    width: 7rem !important;
    height: 5rem !important;
  }
  .subcontent_link {
    font-size: 0.6rem !important;
  }
  .subcontent-1 p {
    font-size: 0.4rem !important;
  }
  .bookmarked_icon {
    font-size: 0.5rem;
    margin-top: -0.1rem;
  }
}
@media (max-width: 420px) {
  .left {
    margin-left: 3rem;
  }
  .content h3 {
    font-size: 1.2rem;
  }
  .latest_title h5 {
    font-size: 0.6rem;
  }
  .all_news {
    font-size: 0.6rem;
  }
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 18rem;
  } */
}
@media (max-width: 408px) {
  .content-1 {
    width: 17rem;
  }
  .content_img {
    width: 5rem !important;
    height: 3rem !important;
  }
  .subcontent_link {
    font-size: 0.5rem !important;
  }
  .subcontent-1 p {
    font-size: 0.4rem !important;
  }
}
@media (max-width: 385px) {
  .latest_title {
    margin-top: 1.2rem;
  }
  .content h3 {
    font-size: 0.9rem;
  }
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 16rem;
  } */
}
@media (max-width: 360px) {
  .content-1 {
    width: 15rem;
  }

  .subcontent-1 p {
    font-size: 0.2rem !important;
  }
  .book,
  .share {
    font-size: 0.3rem !important;
    margin-left: 0.5rem;
  }
}

@media (max-width: 342px) {
  .search_box {
    width: 15rem;
  }
  .latest_title h5 {
    font-size: 0.5rem;
  }
  .all_news {
    font-size: 0.5rem;
  }
  .content h3 {
    font-size: 0.7rem;
  }
  /* .btn-all,
  .btn-news,
  .btn-companies,
  .btn-products,
  .btn-technology,
  .btn-deals,
  .btn-research,
  .btn-regulatory,
  .btn-market {
    width: 13rem;
  } */
}

/*jig css start*/
.newMainBlock main{padding: 0;margin-left: 0;margin-top: 20px;}
.newMainBlock .news{margin-top: 0;margin-left: 0;max-width: inherit;}
.newMainBlock main [class*="makeStyles-drawerHeader"],.newMainBlock main .jss6,.newMainBlock main .jss21{display:none;}
.newMainBlock .MuiDrawer-paper{margin-top: 0;}
.newMainBlock main[class*="makeStyles-contentShift-"],.newMainBlock main.makeStyles-contentShift-8,.newMainBlock main.jss8 {margin-left: 210px;}
.newMainBlock .MuiIconButton-root:hover{background: none;}
.newMainBlock .news_header{width:100%}
.newMainBlock .ui.divider {margin-top: 5px;}
.newThumb-right {width: 90px;height: 120px;margin-right: 15px;border: 1px solid #f1f1f1;background: #f9f9f9;}
.newMainBlock .newThumb-right img.det-right-image {width: 100% !important;height: 100% !important;object-fit: cover;left: 0 !important;top: 0 !important;position: relative !important;}
.news_mid_thumb_img{width:100%;max-width: 150px;height: 200px;margin-right: 15px;border: 1px solid #f1f1f1;background: #f9f9f9;}
.news_mid_thumb_img .card-img{width: 100% !important;height: 100% !important;object-fit: cover;left: 0 !important;top: 0 !important;position: relative !important;}
.ui.top.right.pointing.dropdown>.menu{right: -8px !important; margin: 0 !important;}
.ui.grid.news_mid_container {margin-top: 0;}
.news_mid_container .sub-cards {margin-top: 0;display: flex;align-items: center;}
.news_mid_actions {margin-left: 20px;}
.news_mid_actions .MuiSvgIcon-root {color: #B6BDC9;}
.news_mid_container .sub-cards .below-news-card {width: calc(100% - 150px);}

.header-top-section{position: relative; z-index: 11}
.header-top-section,.header-nav-section{background: #fff;}
.carousel-indicators li{width:8px; height:8px; border-radius: 100%;}
.inner-wrapper{margin-top:20px;margin-left:0}
.inner-wrapper .container{position:relative;}
.newsDetails-block h2 {font-family: 'NoirPro', sans-serif; font-weight: 500;font-size: 20px;margin-top: 30px;color: #415A6C;line-height: 1.4;}
.newsEntryDetails {display: flex;align-items: center;justify-content: space-between;margin-top: 15px;}
.newsEntryDetails span{color: #B6BDC9;font-size: 16px; font-weight: 400;}
.newsNameDate span {margin-right: 15px;padding-right: 15px;position: relative;}
.newsNameDate span::after {content: '';position: absolute;right: -4px;top: 50%;width: 5px;height: 5px;background: #B6BDC9;transform: translateY(-50%);border-radius: 100%;}
.newsNameDate span:last-child::after{display: none}
.newsDetails-block .magazine-page-img{width:100%; height:auto}
.newsDesctiptions {margin: 40px 0 50px;}
.newsDesctiptions p{font-size: 16px; line-height: 1.6;}
.newsDetails-social-block {position: absolute;left: 60px;top: 30%;}
.newsDetails-socialList{padding:0;}
.newsDetails-socialList li{margin-bottom:10px}
.socialIcon {width: 40px;height: 40px;display: flex;align-items: center;justify-content: center;border-radius: 100%;background: #f0f0f0; color: #fff;font-size: 20px;}
.socialIcon:hover{color: #fff;}
.socialLinkedin{background: #007AB9}
.socialFacebook{background: #2d4373}
.socialTwitter{background: #1CB7EB}
.socialMail{background: #DD9E11}
.socialSave{background: #415A6C}
.pdfDownload{background: #85dcb8; color: #FFFFFF !important;}

.news_left_header button {padding: 10px;}
.magazines_info .magazines_card {width: 100%;}
.magazines_info .magazines_card .extra.content {border-top: 0 !important;}
.magazines_card .MuiSvgIcon-root,.magazines_info .MuiSvgIcon-root{color: #B6BDC9;}
.mr-20{margin-right: 20px !important;}
.mb-10{margin-bottom: 10px !important;}
.magazineDetails {display: flex;flex-wrap: nowrap;margin-bottom: 50px;}
.magazineDetails .column {padding-left: 15px;padding-right: 15px;}
.magazineDetails .magazineDetailsImg {width: 100%;max-width: 310px;}
.magazineDetails .magazineDetailsInfo{width: calc(100% - 310px);}
.inner-wrapper .ui.grid {margin: 0;}
.magazineDetailsInfo .ui.vertical.segment {padding-top: 0;}
.magazineDescriptions {display: flex;align-items: flex-start;}
.magazineDetailsInfo .MuiTypography-h4 {font-weight: 500;margin: 10px 0;font-size: 20px;color: #3B424D;}
.magazineDetailsActions {width: 100%;max-width: fit-content;display: flex;align-items: center;justify-content: flex-end;margin-top: -10px;}
.magazineDescriptions .MuiTypography-body1 {padding-right: 30px;}
.magazineDetailsInfo .ui.vertical.segment {margin-bottom: 20px;}
.magazineSubTitle {font-weight: 700;font-size: 20px;}
.magazineDetailList {margin: 0;padding: 0;}
.magazineDetailList li {list-style: disc;margin-left: 20px;margin-bottom: 8px;font-size: 15px;}
.magazineDetailList li strong{font-weight: 500;}
.eventConferenceItem{border-bottom: 1px solid #e7e9ed;padding-bottom: 30px;}
.eventConferenceInfoList {font-weight: 400 !important;margin-top: 10px !important;line-height: 1.6 !important; color: #415A6C !important;}
.eventConferenceInfoList strong {font-weight: 500;}
.dropdown-menu{padding:1rem;}
.rawMaterial-block {margin: 20px 0;}
.rawMaterial-content,.productList-content {border-bottom: 1px solid #E7E9ED;margin-bottom: 20px;padding-bottom: 20px;}
.recordID,.recordID a {font-weight: 600;font-size: 13px;color: #B6BDC9;margin-bottom: 5px;}
.rawMaterial-title,.productTitle {font-size: 20px;font-weight: 300;color: #EA3592;margin-bottom: 7px;}
.productTitle{margin-bottom: 5px;margin-top:3px;}
.rawMaterial-subtitle,.productSubtitle {font-size: 16px;font-weight: 400;color: #415A6C;font-family: 'NoirPro', sans-serif !important;}
.rawMaterial-content p {color: #9DA5B2;font-size: 14px;font-weight: 400;}
.rawMaterialDownload {position: relative;}
/* .downloadDropdown {width: 140px;position: absolute;top: 15px;padding-top: 10px;display: none;left: 0;} */
.downloadDropdown {padding: 0;border: 0;}
.download-dropdown-toggle::after{display: none}
.downloadDropdown ul {padding: 10px;margin: 0;background: #fff;box-shadow: 0 0 20px rgb(0 0 0 / 10%);}
.downloadDropdown ul li a {font-weight: 400;padding: 8px;display: block;font-size: 14px;color: #3B424D;}
.downloadDropdown ul li a:hover {background: #F5F5F7; color: #EA3592;}
.download-dropdown-toggle {font-weight: 600;color: #415A6C;font-size: 14px;cursor: pointer;}
.rawMaterial-actions-wrap {margin-top: 25px;display: block;}
.rawMaterial-actions,.productActions {display:flex; align-items:center;position: relative;}
.rawMaterial-actions .rawMaterialAction-list,.productActions .productAction-list {border-right: 1px solid #D4D4D4;padding-right: 20px;margin-right: 20px;}
.rawMaterial-actions .rawMaterialAction-list:last-child,.productActions .productAction-list:last-child{border-right: 0; margin-right:0; padding-right:0;}
.rawMaterial-row,.productList-row {margin-left: -15px;margin-right: -15px;display: flex;flex-wrap: wrap;}
.rawMaterial-row .rawMaterial-col {width: calc(100% / 2);padding-left: 15px;padding-right: 15px;}
.productList-row .productList-col {width: calc(100% / 4);padding-left: 15px;padding-right: 15px;}
.newMainBlock main[class*="makeStyles-contentShift-"] .productList-row .productList-col {width: calc(100% / 3);}
.rawMaterial-1col .rawMaterial-col,.productList-1col .productList-col {width: calc(100% / 1);}
.rawMaterialItem ul,.productShareItem ul {display: flex;margin: 0;padding: 0;}
.rawMaterialItem ul li,.productShareItem ul li {margin-right: 15px;}
.rawMaterialItem ul li a,.productShareItem ul li a{color: #B6BDC9;font-size: 18px;}
.paginationBlock {display: flex;align-items: center;justify-content: center;}
.paginationBlock ul {padding: 0;display: flex;align-items: center;}
.paginationBlock ul li {margin: 0 12px;}
.paginationBlock ul li a {color: #415A6C;font-size: 16px;font-weight: 500;transition:0.2s ease-in-out all;}
.paginationBlock ul li.active a,.paginationBlock ul li a:hover {color: #EA3592;}
.paginatArrow a {width: 50px;height: 50px;display: flex;align-items: center;justify-content: center; border: 1px solid #B6BDC9;border-radius: 100%;color: #EA3592; font-size: 20px;}
.paginatArrow a svg {font-size: 30px;}
.MuiButton-startIcon{margin-left: 0 !important;margin-right: 0 !important;}
.MuiButton-outlinedSecondary {color: #B6BDC9 !important;border: 1px solid #B6BDC9 !important;}
.rawMaterialDetailsContent {margin: 30px 0;}
.rawMaterialDetailsHead,.productDetailsHead {display: flex;align-items: flex-start;justify-content: space-between;}
.rawMaterialDetailsIdDate ul,.productRecordIdDate ul{padding: 0;margin: 0;display: flex;align-items: center;}
.rawMaterialDetailsIdDate ul li,.productRecordIdDate ul li {margin-right: 10px;padding-right: 10px;position: relative;font-weight: 600;font-size: 13px;color: #B6BDC9;text-transform: uppercase;}
.productRecordIdDate ul li a{color: #B6BDC9;}
.rawMaterialDetailsIdDate ul li::after,.productRecordIdDate ul li::after{content: ''; position: absolute; right: -1px; top: 50%; transform: translateY(-50%); width: 3px; height: 3px; background: #B6BDC9; border-radius: 100%;}
.rawMaterialDetailsIdDate ul li:last-child::after,.productRecordIdDate ul li:last-child::after{display: none;}
.rawMaterialTitle {font-size: 22px;color: #EA3592;font-weight: 700;margin-top: 5px;margin-bottom: 10px;}
.rawMaterialSubTitle {font-size: 18px;color: #415A6C;font-weight: 300;}

.rawMaterialDetailsInfo {margin-top: 20px;}
.rawMaterialDetailsInfo p{font-size: 15px; color: #9DA5B2; line-height:1.6;font-weight: 400;}
.rawMaterialHeadActionBlock,.productHeadActionBlock {display: flex;align-items: center;margin-top: 5px;}
.rawMaterialDownloadDetails {margin-right: 20px;}
.rawMaterialDownloadDetails .download-dropdown-toggle,.productDownloadDetails .download-dropdown-toggle{border: 1.5px solid #B6BDC9;padding: 10px 20px;border-radius: 4px;display: block;}
.productDownloadPink .download-dropdown-toggle{border: 1.5px solid #EA3592; color: #EA3592;}
.companyDetailsTabHead {margin-top: 30px;}
.rawMaterialDetailsWrapper .rawMaterialDetailsContent {max-width: 830px;margin: 30px auto 30px;}
/*product css*/
.productWrap {margin-top: 20px;}
.productList-content {display: flex;align-items: flex-start;}
.productListImage {width: 120px;height: 150px;overflow: hidden;position: relative;}
.productListImage a {display: block;width: 100%;height: 100%;}
.productListImage a img {object-fit: contain;width: 100%;height: 100%;}
.productInfo {width: calc(100% - 120px);padding-left: 30px;}
.productDescription h5 {font-size: 14px;font-weight: 600;color: #415A6C;margin-bottom: 5px;}
.productDescription p {font-size: 14px;font-weight: 400;color: #3B424D;}
.productInfoList ul {padding: 0;display: flex;align-items: center;margin: 5px 0;}
.productInfoList ul li {font-size: 14px;font-weight: 400;color: #9DA5B2;position: relative;margin-right: 8px;padding-right: 8px;}
.productInfoList ul li::after{content: ''; position: absolute; right: -1px; top: 50%; transform: translateY(-50%); width: 3px; height: 3px; background: #B6BDC9; border-radius: 100%;}
.productInfoList ul li:last-child::after{display: none;}
.productPrice {margin-bottom: 15px;margin-top: 10px;font-size: 14px;font-weight: 700;color: #3B424D;}
.productActions .productAction-list .product_check {display: flex;align-items: center;}
.productActions .productAction-list .product_check .checkbox{width: 1.5rem !important;margin-right: 10px;}
.productListGridView .productList-content {flex-wrap: wrap;padding: 15px;border: 1px solid #E7E9ED;margin-bottom: 30px;transition:0.2s ease-in-out all}
.productListGridView .productList-content:hover {box-shadow: 0 0 20px #eceff4;}
.productListGridView .productListImage {width: 100%;height: 130px;margin-bottom: 20px;}
.productListGridView .productInfo {width: calc(100% - 0px);padding-left: 0;}
.productListGridView .productRecordIdDate ul li{font-size: 11px;margin-right: 6px;padding-right: 6px;white-space: nowrap;font-weight: 500;}
.productListGridView .recordID, .productListGridView .recordID a{font-size: 11px;font-weight: 500;}
.productListGridView .product-title{font-size: 16px;}
.productListGridView .productSubtitle{font-size: 14px;}
.productListGridView .productDescription p{color: #9DA5B2;}
.productListGridView .productDescription p.char-cut-line-1{-webkit-line-clamp: 2;}
.productListGridView .productInfoList ul{flex-wrap: wrap; margin-top: 10px;}
.productListGridView .productInfoList ul li{color: #B6BDC9;font-size: 13px;}
.productListGridView .productPrice{width: calc(100% - 60px);}
.productListGridView .productActions .productAction-list{width:calc(100% / 2);margin: 0;padding: 0;text-align: center;}
.productListGridView .productActions .productAction-list:last-child {position: absolute;top: -50px;right: 0; width: auto;}
.productListGridView .productActions .productAction-list:nth-last-child(2) {border-right: 0;margin-right: 0;padding-right: 0;}
.productListGridView .productActions .productAction-list .product_check{width: 100%;justify-content: center;}
.productListGridView .productShareItem ul li{margin-right: 0; margin-left:15px;}
/*product details*/
.productDetailsTab {margin-top: 10px;}
.productDetailsContent {display: flex; margin: 30px 0;}
.productDetailsZoomSlider {width: 100%;max-width: 300px;}
.productDetailsInformation {width: calc(100% - 300px);padding-left: 30px;}
.productDetailsTitleBlock .productTitle{font-weight: 700; font-size: 22px;}
.productShortDescription {margin-top: 20px;}
.productShortDescription p{color: #9DA5B2; font-weight: 400;}
.productDetailsPriceInfo {display: flex;align-items: center;justify-content: space-between;}
.productDetailsPriceInfo .productPrice {font-size: 20px;font-weight: 600;}
.productDetailsPriceInfo .productShareItem ul li{margin-right: 0; margin-left: 15px;}
.productDetailsTab .tab-content {margin-top: 20px;margin-bottom: 20px;}
.productDetailsTab .nav-tabs{border-top: 1px solid #E7E9ED; border-bottom: 1px solid #E7E9ED;}
.productDetailsTab .nav-tabs .nav-link{background: none;padding: 12px 5px !important; margin-right: 15px; font-weight: 400;font-size: 15px;}
.productDetailsTab .nav-tabs .nav-link:focus, .productDetailsTab .nav-tabs .nav-link:hover {border: 1px solid transparent;border-bottom: 2px solid #3B424D;}
.productDetailsTab .nav-tabs .nav-item.show .nav-link,.productDetailsTab .nav-tabs .nav-link.active{border: 1px solid transparent; border-bottom: 2px solid #3B424D;border-radius: 0;}
.tableListView {display: flex;justify-content: space-between;margin-left: -15px;margin-right: -15px;}
.tableListView ul {width: calc(100% / 2);padding-left: 15px;padding-right: 15px;}
.tableListView ul li {display: flex;align-items: center;padding: 8px 10px; color: #415A6C}
.tableListTitle {min-width: 200px;display: flex;align-items: center;justify-content: space-between;padding-right: 5px;}
.tableListInfo{font-weight: 500;}
.tableListView ul li:nth-child(odd){background: #FBFCFF;}
.tableListView ul li:nth-child(even){background: #fff;}
.productDetailsDescription {margin-top: 20px;padding-top: 30px;border-top: 1px solid #B9B9B9;}
.productDetailsDescription h3 {color: #3B424D;font-weight: 700;font-size: 18px;}
.productDetailsDescription p {margin-bottom: 40px;font-size: 14px; color: #415A6C;}
/**/
.miniContainer{max-width: 830px; margin: 0 auto;}
.magazines_card .date {margin: 3px 0 3px 0 !important;font-size: 11px;}
.socialActionBlock .MuiButtonBase-root {padding: 4px;}
.popup .button {width: auto !important;height: auto !important;font-size: 14px !important;padding: 5px 25px !important;}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], 
.eventConferenceItem .date {margin-bottom: 5px;}
.eventConferenceItem .box p {width: calc(100% - 100px);}
.rawMaterialDescription{max-width: 940px;}
.productDetailsSlider .carousel-indicators {bottom: -130px;margin-left: 0;margin-right: 0;justify-content: flex-start;z-index: 1;align-items: center;}
.productDetailsSlider .carousel-indicators li {width: calc(100% / 4);padding-left: 0;padding-right: 0;display: block;height: auto;border: 2px solid transparent;}
.productDetailsSlider .carousel-indicators li.active {border: 2px solid #000;border-radius: 0;}
.productCompareContent{margin: 30px 0;}
.productCompareHead {display: flex;align-items: center;justify-content: space-between;margin-bottom: 30px;}
.productCompareHead h2 {font-size: 20px;margin: 0;}
.productCompareTableWrap {margin-bottom: 30px;}
.productCompareTable {border: 1px solid #E7E9ED;width: 100%;}
.productCompareTable tbody tr td {padding: 10px 20px;border: 1px solid #E7E9ED;width: 20.5%;}
.productCompareTableShadow {box-shadow: 0 2px 2px rgb(0 0 0 / 5%);}
.productCompareTable tbody tr td:first-child {width: 18%;max-width: 140px;min-width: 140px;}
.productCompareAddProduct {text-align: center;}
.productCompareAddProduct a {font-size: 16px;font-weight: 400;color: #3B424D;display: flex;align-items: center;justify-content: center;}
.productCompareAddProduct a i {color: #FD0090;font-size: 24px;line-height: normal;display: flex;align-items: center;margin-right: 10px;}
.productCompareImage {width: 100px;height: 100px;overflow: hidden;margin: 0 auto 10px;}
.productCompareImage img {width: 100%;height: 100%;object-fit: cover;}
.productCompareProduct h4 a{font-size: 16px; color: #3B424D;}
.productCompareProduct {text-align: center;padding: 10px 0;}
.productCompareTitle h3 {font-family: 'NoirPro', sans-serif !important; font-size: 14px; color: #3B424D; font-weight: 500;}
.productCompareInfo p{font-size: 14px; color: #415A6C; font-weight: 400;word-break: break-word;}
.active-filter{background-color: rgba(245, 0, 87, 0.04) !important;}
.active-filter .icon{color: #FD0090;}
.product_header {flex-wrap: wrap;align-items: center;display: flex}
.product_analytics_actions {display: flex;align-items: center;}
.product_analytics_btn .btn-outline {margin: 0 15px 0 0;background: none !important;color: #415A6C !important;font-weight: 600;font-size: 14px;padding:8px 15px;height: auto;
box-sizing: border-box;line-height: normal; border: 1.5px solid #B6BDC9 !important}
.product_analytics_btn .btn-outline:hover{color: #FD0090 !important; border-color: #FD0090 !important; background: none !important;}
.product_analytics_btn .btn-outline:focus,.product_analytics_btn .btn-outline:active{color: #415A6C !important; border-color: #B6BDC9 !important; background: none !important;}
.product_analytics_btn .download-dropdown-toggle {padding: 8px 15px !important;line-height: normal;}
.product_analytics_btn .download-dropdown-toggle:hover{border-color: #FD0090;}
.product_analytics_description {margin: 15px 0;}
.product_analytics_description p{color: #B6BDC9;width: 100%;max-width: 960px;}
.productAnayticsWrap{margin-top: 30px;}
.productAnayticsGraph {border: 2px solid #E7E9ED;border-radius: 10px;margin-bottom: 20px;padding: 30px;}
.productAnaticsGraphHead {display: flex;align-items: center;justify-content: space-between;margin-bottom: 15px;}
.graphDropdownBlockBtn svg {color: #000;font-size: 22px;}
.productAddToCompareWrap {position: fixed;bottom: 0;width: 100%;left: 0;right: 0;border-top: 1px solid #B6BDC9;background: #fff;padding: 15px 0;}
.productAddToCompareContent {display: flex;align-items: center; justify-content: center;}
.productAddToCompareItem {position: relative;}
.productAddToCompareItemList ul {display: flex;align-items: center;padding: 0; margin-right: 40px;margin-bottom: 0;}
.productAddToCompareItemList ul li {margin: 0 10px;}
.productAddToCompareItemImage {width: 70px;height: 80px;position: relative;overflow: hidden;}
.productAddToCompareItemImage img {width: 100%;height: 100%;object-fit: contain;}
.productCloseIcon {position: absolute;top: -10px;right: -10px;width: 20px;height: 20px;display: flex;align-items: center;justify-content: center;background: #19132F;
border-radius: 100%;border: 1px solid #fff;color: #fff;}
.productCloseIcon:hover{color: #fff;}
.productCloseIcon svg {transform: rotate(45deg);}
.productAddToCompareAction {display: flex;align-items: center;}
.productAddToCompareAction .btn {margin: 0;font-weight: 500;font-size: 15px;}
.compareRemoveBtn {margin-left: 15px;}
.compareRemoveBtn .btn {border: 1px solid transparent;color: #000;}
.productListingBlock {padding-bottom: 120px;display: block;}
.companyBasicInfoContainer {display: flex;align-items: flex-start;}
.companyBasicInfoImage {width: 100%;max-width: 165px;}
.companyOverviewTable {margin-top: 40px;}
.companyEntryInfo ul {margin: 30px 0 0 0;padding: 0;display: flex;}
.companyEntryInfo ul li {margin-right: 50px;}
.companyEntryInfo ul li:last-child {margin-right: 0;}
.companyEntryInfo ul li p {margin-bottom: 10px;line-height: normal;color: #95A7B4;}
.companyEntryInfoDetails {margin: 0;color: #415A6C;font-weight: 500;}
.companyBasicInfoImage .company-detail-header-image {margin: 0;width: 100%;border: 1px solid #B6BDC9;height: 165px;overflow: hidden;}
.companyBasicInfoImage .company-detail-header-image img{width: 100%;height: 100%;object-fit: contain;}
.companyBasicInfoDetails {width: calc(100% - 165px);padding-left: 30px;}
.companyBasicInfoDetails .company-header {display: flex;align-items: center;justify-content: space-between;}
.companySocialAction .info2 {display: flex;align-items: center;}
.companySocialAction .info2 .more {margin: 0;}
.companyDetailsTabHead .MuiButtonBase-root {min-width: inherit;flex-grow: inherit;flex-basis: inherit;padding: 0;margin-right: 60px;}
.companyDetailsTabHead .MuiButtonBase-root {min-width: inherit;flex-grow: inherit;flex-basis: inherit;padding: 0;margin-right: 60px;letter-spacing: 0;font-weight: 400 !important;font-family: 'NoirPro', sans-serif;}
.companyDetailsTabHead .MuiButtonBase-root .MuiTab-wrapper {font-weight: 400;color: #415A6C;}
.companyDetailsTabHead .MuiButtonBase-root.Mui-selected .MuiTab-wrapper{color: #EA3592;}
.companyDetailsTabHead .PrivateTabIndicator-colorSecondary-4 {background-color: #EA3592;}
.recentNewsBlock .ant-card.ant-card-bordered {border: 0;}
.recentNewsBlock .ant-card-body {padding: 0;}
.recentNewsCards {margin: 0;}
.recentNewsDate {margin-top: -5px;}
.recentNewsCards .news-header-right {font-weight: 500;margin-bottom: 8px;line-height: normal;font-size: 16px !important;color: #3B424D !important;margin-top: 5px;}
.recentNewsCards .box {width: 100%;max-width: 500px;}
.recentNewsCards .box p {-webkit-line-clamp: 1;color: #415A6C;}
.recentNewsCards .box h6 {font-size: 14px !important;font-weight: 400;margin: 0;}
.peopleCard .ant-image-mask-info {font-size: 0;}
.peopleCard .ant-image-mask-info .anticon-eye {font-size: 20px;margin: 10px !important;}
.peopleCardWrap .ant-card.ant-card-bordered {border: 1px solid #E7E9ED;border-radius: 0;}
.peopleCardWrap .ant-card-body {padding: 20px;}
.peopleCard .maga-info {width: calc(100% - 100px);display: flex;align-items: center;justify-content: space-between;}
.peopleCard .maga-info .maga-info {width: auto;}
.peopleCard .maga-info .maga-info .anticon {margin: 0 !important;}
.peopleCardUserInfo h4 {line-height: normal !important;margin-bottom: 5px !important;font-size: 20px !important;}
.peopleCardUserInfo .company-meta {text-transform: lowercase !important;}
.peopleCardUserInfo .company-meta:first-letter {text-transform: uppercase !important;}
.peopleNewsWrapper {width: 100%;max-width: 960px;}
.fundingVTabContainer .ant-tabs-nav-list {box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important;}
.fundingVTabContainer .ant-tabs-ink-bar {right: inherit;left: 0;}
.fundingVTabContainer .ant-tabs-tab-btn {font-weight: 500;font-size: 15px;}
.financeTableInfo .ant-descriptions-view {border: 0 !important;}
.financeTableInfo .ant-descriptions-view .companyOverviewTable {padding: 0;}
.financeTableInfo .ant-descriptions-title {font-weight: 600;font-size: 18px;color: #000;}
.companyTabTitle {margin-bottom: 20px;display: flex;align-items: center;justify-content: space-between;}
.companyTabTitle h2 {font-weight: 500;font-size: 20px;color: #3B424D;}
.product-portfolio-list {display: flex;flex-wrap: wrap;margin-left: -15px;margin-right: -15px;}
.product-portfolio-item {width: calc(100% / 2);padding-left: 15px;padding-right: 15px;margin-bottom: 30px;}
.product-portfolio-content {display: flex;padding: 20px;border: 1px solid #E7E9ED;transition: 0.2s ease-in-out all}
.product-portfolio-content:hover{box-shadow: 0 10px 20px #ECEFF4;}
.product-portfolio-image {width: 100px;height: 125px;overflow: hidden;}
.product-portfolio-image img{width: 100%; height: 100%;object-fit: cover;}
.product-portfolio-information {width: calc(100% - 100px);padding-left: 15px;}
.product-portfolio-information h4 {font-weight: 500;color: #3B424D;font-size: 18px;margin-bottom: 2px;}
.product-portfolio-information h6 {font-size: 14px !important;color: #415A6C;font-weight: 400;}
.productPortfolioTable ul {width: 100%;}
.tableListView.productPortfolioTable ul li:nth-child(odd){background: #fff;}
.tableListView.productPortfolioTable ul li:nth-child(even){background: #FBFCFF;}
.tableListView.productPortfolioTable .tableListTitle{min-width: 140px;}
.product-portfolio-information-description p {color: #415A6C;font-size: 13px;font-weight: 400;}
.product-portfolio-content {display: flex;padding: 20px;border: 1px solid #E7E9ED;}
.allInvestorHead [class*="MuiBox-root-"] {border-bottom: 0;}
.allInvestorCardWrapp .small {padding: 15px !important;box-shadow: none !important;background: none !important;}
.allInvestorHead .card {border: 1px solid #E7E9ED !important;box-shadow: none;border-radius: 0;transition:0.2s ease-in-out all;}
.allInvestorHead .card:hover{box-shadow: 0 0 20px rgba(0,0,0,0.1);}
.allInvestorHead .card .p-3 {padding-top: 0 !important;}
.allInvestorHead .card .company-header {font-weight: 500;margin-bottom: 10px;}
.allInvestorHead .investor-btn.ui.basic.button {width: 100% !important;height: auto !important;box-shadow: none !important;font-size: 14px !important;border: 2px solid #E7E9ED !important;transition:0.2s ease-in-out all;}
.allInvestorHead .investor-btn.ui.basic.button h3 {font-size: 16px !important;font-weight: 500;color: #EA3592; transition:0.2s ease-in-out all;}
.allInvestorHead .investor-btn.ui.basic.button:hover{background: #EA3592 !important;border: 2px solid #EA3592 !important;}
.allInvestorHead .investor-btn.ui.basic.button:hover h3{color: #fff !important;}
.newsTwoColImageBlock{display: flex;}
.newsTwoColImageBlock .newsTwoColImage {width: calc(100% / 2) !important;}
.newsTwoColImageBlock .newsTwoColImage:first-child {padding-right: 15px;}
.newsTwoColImageBlock .newsTwoColImage:last-child {padding-left: 15px;}
/*end*/


/*foram css start*/
.header-search-input{ font-size: 15px;}
.notification-dropdown .notification-dropdown-header { font-size: 1.2rem;}
.img-square-wrapper{width: 50px;}
.img-square-wrapper img {height: 50px; width: 50px;}
.notification-dropdown-list-item .notification-content { width: calc(100% - 60px);}
span.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-13.MuiCheckbox-root.MuiCheckbox-colorSecondary.PrivateSwitchBase-checked-14.Mui-checked.MuiIconButton-colorSecondary .MuiSvgIcon-root {color: #fd0090;}
.ui.card>.content p:last-child, .ui.cards>.card>.content p:last-child{white-space:break-spaces;}
.newsSliderImage {height: 385px;}
.newsSliderImage .img-fluid { width: 100% !important; height: 100%; object-fit: cover;}
.MuiFormControlLabel-root{ margin-bottom: 0px;}
.checking{margin-top: -5px;}
.more {font-style: normal; font-weight: 400; font-size: 14px; line-height: 18px; color: #95A7B4;}
.ml-7{margin-left: 7px;}
.MuiPaper-elevation1{box-shadow: none !important;}
.MuiTab-wrapper{font-size: 16px;font-weight: 700; font-style: normal; line-height: 15px;text-transform: capitalize;}
.PrivateTabIndicator-colorSecondary-4{background-color: #EA3592;}
#simple-tabpanel-1 .card-img{object-fit: cover; width: 180px !important; height: 90px !important; border-radius: 0;}
.ant-card .company-header h4{ font-size: 22px; font-weight: 700; font-style: normal; line-height: 31px;color: #415A6C;}
.ant-card .company-meta{font-style: normal; font-weight: normal; font-size: 14px; line-height: 13px;  color: #415A6C;text-transform: capitalize;}
.ant-card-body { padding: 20px 30px;}
.ant-avatar-image{width: 80px !important;height: 80px !important;}
.ant-avatar .ant-image-img{ display: block; width: 80px; height: 80px; object-fit: cover;}
.companyDetailsTabHead::before, .companyDetailsTabHead::after {content: '';position: absolute;left: 0;height: 1px;width: 100%;background: #E7E9ED;z-index: 1;}
.peopleCard .ant-row {margin: 0;align-items: center;}
.company-detail-header-image{margin-top: 3.5rem;border: 1px solid #B6BDC9; text-align: center;}
.companyDetailsTabHead{ position: relative;}
.card-image-block{ width: 180px; height: 90px;}
.below-news-card {/* display: flex; */ flex-wrap: wrap; width: calc(100% - 200px); margin-left: 20px;}
.card-image-block { width: 180px; height: 90px;}
.ant-card .sub-cards{display: flex;}
.ant-descriptions-title{font-size: 20px;}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list{background: #FFFFFF;border: 1px solid #E7E9ED; box-sizing: border-box;}
.ant-tabs-tab{margin: 0px 0 0 0 !important;}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab{border-bottom: 1px solid #E7E9ED; padding: 10px 24px !important;}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap{width: 200px;}
.tableListView {display: flex;justify-content: space-between;margin-left: -15px;margin-right: -15px;}
.tableListView ul {width: calc(100% / 2);padding-left: 15px;padding-right: 15px;}
.tableListView ul li {display: flex;align-items: center;padding: 8px 10px; color: #415A6C}
.tableListTitle {min-width: 200px;display: flex;align-items: center;justify-content: space-between;padding-right: 5px;}
.tableListInfo{font-weight: 600;}
.tableListView ul li:nth-child(odd){background: #FBFCFF;}
.tableListView ul li:nth-child(even){background: #fff;}
.companyOverviewTable {margin-top: 40px;}

/** technology **/
.technology-content .card_title{margin-bottom: 5px;}
.technology-content .description p {line-height: 26px; font-size: 16px; font-weight: 400 !important;}
.technology-content .description{margin-bottom: 10px;}
.technology-image a {width: 140px; height: 140px; display: block;}
.technology-image a img { width: 100%; height: 100%; object-fit: cover;}
.technologyListBlock .ui.grid>[class*="two wide"].column{width: 15%!important;}
.technology-content img.ui.avatar.right.spaced.image{border-radius: 100%; width: 28px !important; height: 28px !important; object-fit: contain;  border: 1px solid #ddd;}
.technology-content .ui.circular.label, .ui.circular.labels .label{margin-right: 5px; padding: 0.2em 0.3em !important;}
.technologyListBlock .ui.grid{margin-right: -2rem;}
.technology-content .ui.circular.label{font-weight: 400;font-size: 12px;line-height: 12px;}

/** Deals and Investment **/
.deals-image a {width: 140px; height: 140px; display: block;}
.deals-image a img { width: 100% !important; height: 100% !important; object-fit: contain;}
.deal-and-invest .MuiTypography-subtitle1{ font-size: 20px; font-weight: 400; line-height: 27px;}
.deal-and-invest .MuiTypography-subtitle2{ font-size: 14px; font-weight: 400; line-height: 19px; font-style: normal;}
.deal-and-invest .MuiTypography-body2{margin-bottom: 20px !important;}
.deals-pest{font-size: 12px;font-weight: 400; font-style: normal;line-height: 14px; color: #9DA5B2;}


/** extra **/
.main-menu-bar li > a{font-size:14px;}
.dropdown-item .sub-menu-title{font-size:14px;}
.dropdown-toggle::after{vertical-align: .1em;}
/* .technologyListBlock { display: flex; flex-wrap: wrap;}
.technologyListBlock .ui.grid, .technologyListBlock .ui.divider { width: calc(100% / 2);}
.technologyListBlock.technologyListCol1 .ui.grid, .technologyListBlock.technologyListCol1 .ui.divider { width: 100%;} */

.companyTabContainer [class*="MuiBox-root-"] {padding: 30px 0;}
/*end foram css*/

/** Footer CSS **/
.footer-section {width: 100%; display: block; background-color: #fff; padding: 15px; border-top: 1px solid #efefef;position: relative;clear: both;}
.site-info{font-size: 14px;color: #665e5e; line-height: 20px; font-weight: 400; padding: 0; margin: 0; text-align: center;}
.ui.label, .ui.labels .label{font-size: 10px !important;}