.company-image{
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-right: 1px solid #B6BDC9;
}
div.company-card .ui.card, .ui.cards>.card{
    width: 350px;
    top: 20px;
    padding: 1rem 2rem;
}
div.company-header {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #3B424D;
}

div.company-header > h4{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 34px;
margin-bottom: 10px;
/* identical to box height */


/* Dark 01 */

color: #3B424D;
}

p.company-meta {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.5;    
    color: #415A6C;
}

h4.company-overview-tab {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    line-height: 1.5;
}
.company-data {
    font-size: 14px;
    font-weight: 400;
    color: #9DA5B2;
    margin-top: 5px;
}